In [24]:
import pandas as pd
import re

In [269]:
df_indeed=pd.read_csv('./indeed_with_salary.csv')
df_future=pd.read_csv('./data_myfulturcareer.csv')
df_glints=pd.read_csv('./glints_data_science_job.csv')

In [373]:
df_glints=pd.read_csv('./glints_data_science_job.csv')

In [270]:
df_indeed=df_indeed.drop('Unnamed: 0',axis=1)
df_indeed=df_indeed.drop('vjk',axis=1)
df_indeed=df_indeed.drop('job_post_date',axis=1)
df_indeed=df_indeed.drop('job_description_p',axis=1)
df_indeed=df_indeed.drop('job_description_li',axis=1)

In [57]:
df_indeed=df_indeed.drop_duplicates()
#df_indeed.job_title=df_indeed.job_title.map(lambda x:re.split("[/()-,]+", x)[0])
#df_indeed=df_indeed[df_indeed.job_title!='secretary ']
#df_indeed=df_indeed[df_indeed.job_title!='technician']

In [730]:
df_future=df_future.drop_duplicates()
df_future=df_future.drop('Unnamed: 0',axis=1)

In [731]:
df_future['job_all']=df_future.job_description_p + df_future.job_description_li + df_future.job_requirement_p + df_future.job_requirement_li

In [733]:
df_future.drop(['job_description_p','job_description_li','job_requirement_p','job_requirement_li'],axis=1,inplace=True)

In [374]:
df_glints=df_glints.drop('Unnamed: 0',axis=1)

In [375]:
glint_to_remove=['intro','is_public','is_remote','comp_verification','comp_is_hiring','comp_local_office','country_name','country_demonym','country_currency','country_language','num_of_hires','max_year_exp']

In [376]:
df_glints=df_glints[~df_glints.sal_mode.isnull()]
df_glints_no_sal=df_glints[df_glints.sal_mode.isnull()]

In [377]:
df_glints=df_glints[df_glints.country_name.isin(['Indonesia','Singapore'])]

In [378]:
df_glints.drop(glint_to_remove,axis=1,inplace=True)

In [153]:
import re

In [181]:
df_indeed.reset_index(inplace=True,drop=True)

In [224]:
import nltk
from nltk.tokenize import word_tokenize
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from textblob import TextBlob, Word
from nltk.stem.snowball import SnowballStemmer
%matplotlib inline

In [254]:
vect = TfidfVectorizer(stop_words='english', max_features=10000)

In [229]:
df_indeed.job_description_all[0]

"minimum diploma in any field\nminimum two-years experience in credit control environment\nwell-known mnc firm\nour client is hiring a credit control specialist.\n\nthe candidate will be on a 12 months contract, there will be oppurtunity for renewable or conversion, however is subjected to client's approval.\n\nthe person will supports several post-sales functions, including but not limited to answering inbound phone calls and e-mails, handling billing inquiries, reminders sending, follow up payments and communicate and coordinate with various departments within the company to ensure customer requests are handled appropriately and in a timely manner.\n\nthis person must be able to build strong business relationship with their cross function groups and be a key team player in the management of the customers' accounts. he/ she will need to produce ad-hoc collection status reports whenever necessary.\n\njob description:\n\ndiligent and strategic follow up of collections\neffective monitoring of key customers and activities\nowns and resolves incoming customer inquiries regarding invoicing, contract management, license provisioning, as well as account cancellations and reductions\ndiffuses and resolves escalated internal and external customer situations. handles issues in the best interest of both customer and company\nkeeps accurate and detailed records of inquiries and all customer comments\ncommunicates and coordinates with internal departments\npromotes customer loyalty - makes save offers to customers who want to cancel/reduce and directs customers to appropriate material to improve customer value\nsuggests improvements to management team\nrequirements:\n\nminimum diploma or bachelor degree in business or accounting\ngood customer relationship skills to manage a variety of customer interactions\nexcellent communication (written and verbal) skills in both english and mandarin as to liaise with manadarin speaking clients and customers in chinese market.\nability to excel in a fast growing/fast paced environment delivering accuracy while managing to deadlines\nthrives in a team environment\n\ninterest applicants, kindly send in your updated cv in ms word.\n\nkelly services (singapore) pte ltd | ea license no. 01c4394 | rcb no. 200007268e | t stephanie ea personnel registration no. r1548888\nby submitting your curriculum vitae or personal data to us in connection with your job application, you are deemed to have read and agreed to the terms of our privacy policy, and consented to the collection, use and disclosure of your personal data by us and our affiliates, in accordance with our privacy policy. please visit www.kellyservices.com.sg for a copy of our privacy policy. if you wish to withdraw your consent, please drop us an email at dataprotection @kellyservices.com.sg to let us know. all resumes and personal particulars sent to the aforementioned address will not be attended to as the address is not for job application purposes."

In [255]:
vect.fit_transform(df_indeed.job_description_all)

<93x4080 sparse matrix of type '<class 'numpy.float64'>'
	with 15722 stored elements in Compressed Sparse Row format>

In [259]:
vect.vocabulary_

{'minimum': 2399,
 'diploma': 1173,
 'field': 1546,
 'years': 4041,
 'experience': 1465,
 'credit': 989,
 'control': 933,
 'environment': 1383,
 'known': 2105,
 'mnc': 2412,
 'firm': 1568,
 'client': 740,
 'hiring': 1798,
 'specialist': 3520,
 'candidate': 628,
 '12': 23,
 'months': 2433,
 'contract': 921,
 'oppurtunity': 2584,
 'renewable': 3139,
 'conversion': 939,
 'subjected': 3623,
 'approval': 368,
 'person': 2729,
 'supports': 3669,
 'post': 2820,
 'sales': 3289,
 'functions': 1656,
 'including': 1884,
 'limited': 2184,
 'answering': 336,
 'inbound': 1876,
 'phone': 2746,
 'calls': 616,
 'mails': 2251,
 'handling': 1759,
 'billing': 531,
 'inquiries': 1934,
 'reminders': 3135,
 'sending': 3371,
 'follow': 1594,
 'payments': 2692,
 'communicate': 802,
 'coordinate': 948,
 'various': 3914,
 'departments': 1106,
 'company': 812,
 'ensure': 1365,
 'customer': 1013,
 'requests': 3160,
 'handled': 1756,
 'appropriately': 367,
 'timely': 3785,
 'manner': 2291,
 'able': 162,
 'build': 593,
 'strong': 3610,
 'business': 600,
 'relationship': 3122,
 'cross': 995,
 'function': 1653,
 'groups': 1733,
 'key': 2092,
 'team': 3720,
 'player': 2782,
 'management': 2275,
 'customers': 1014,
 'accounts': 183,
 'need': 2479,
 'produce': 2899,
 'ad': 215,
 'hoc': 1801,
 'collection': 775,
 'status': 3578,
 'reports': 3150,
 'necessary': 2478,
 'job': 2069,
 'description': 1117,
 'diligent': 1172,
 'strategic': 3595,
 'collections': 776,
 'effective': 1289,
 'monitoring': 2429,
 'activities': 210,
 'owns': 2646,
 'resolves': 3181,
 'incoming': 1888,
 'regarding': 3098,
 'invoicing': 2023,
 'license': 2174,
 'provisioning': 2963,
 'account': 177,
 'cancellations': 626,
 'reductions': 3087,
 'diffuses': 1167,
 'escalated': 1407,
 'internal': 1989,
 'external': 1495,
 'situations': 3453,
 'handles': 1758,
 'issues': 2046,
 'best': 520,
 'keeps': 2089,
 'accurate': 186,
 'detailed': 1136,
 'records': 3079,
 'comments': 793,
 'communicates': 803,
 'coordinates': 949,
 'promotes': 2936,
 'loyalty': 2234,
 'makes': 2266,
 'save': 3302,
 'offers': 2547,
 'want': 3971,
 'cancel': 624,
 'reduce': 3086,
 'directs': 1181,
 'appropriate': 366,
 'material': 2323,
 'improve': 1871,
 'value': 3908,
 'suggests': 3643,
 'improvements': 1873,
 'requirements': 3168,
 'bachelor': 479,
 'degree': 1080,
 'accounting': 182,
 'good': 1711,
 'skills': 3460,
 'manage': 2273,
 'variety': 3913,
 'interactions': 1979,
 'excellent': 1443,
 'communication': 805,
 'written': 4033,
 'verbal': 3926,
 'english': 1357,
 'mandarin': 2287,
 'liaise': 2167,
 'manadarin': 2272,
 'speaking': 3518,
 'clients': 741,
 'chinese': 712,
 'market': 2307,
 'ability': 161,
 'excel': 1441,
 'fast': 1530,
 'growing': 1735,
 'paced': 2648,
 'delivering': 1088,
 'accuracy': 185,
 'managing': 2286,
 'deadlines': 1052,
 'thrives': 3772,
 'applicants': 353,
 'kindly': 2098,
 'send': 3370,
 'updated': 3883,
 'cv': 1018,
 'ms': 2448,
 'word': 4011,
 'kelly': 2090,
 'services': 3386,
 'singapore': 3442,
 'pte': 2969,
 'ea': 1259,
 '01c4394': 3,
 'rcb': 3049,
 '200007268e': 47,
 'stephanie': 3585,
 'personnel': 2733,
 'registration': 3109,
 'r1548888': 3018,
 'submitting': 3629,
 'curriculum': 1011,
 'vitae': 3951,
 'personal': 2730,
 'data': 1032,
 'connection': 875,
 'application': 354,
 'deemed': 1069,
 'read': 3052,
 'agreed': 277,
 'terms': 3749,
 'privacy': 2881,
 'policy': 2801,
 'consented': 881,
 'use': 3894,
 'disclosure': 1190,
 'affiliates': 263,
 'accordance': 175,
 'visit': 3947,
 'www': 4037,
 'kellyservices': 2091,
 'com': 782,
 'sg': 3397,
 'copy': 955,
 'wish': 4005,
 'withdraw': 4006,
 'consent': 880,
 'drop': 1254,
 'email': 1306,
 'dataprotection': 1039,
 'let': 2161,
 'know': 2101,
 'resumes': 3207,
 'particulars': 2670,
 'sent': 3377,
 'aforementioned': 264,
 'address': 223,
 'attended': 437,
 'purposes': 2978,
 'working': 4018,
 'location': 2213,
 'central': 668,
 'outside': 2633,
 'cbd': 654,
 'experiences': 1469,
 'required': 3162,
 'junior': 2080,
 'supply': 3660,
 'planner': 2771,
 'project': 2928,
 'actively': 208,
 'regional': 3102,
 'subject': 3622,
 'matter': 2328,
 'expert': 1475,
 'utilization': 3902,
 'planning': 2773,
 'tools': 3796,
 'balance': 489,
 'demand': 1092,
 'inventory': 2010,
 'replenishment': 3144,
 'purchase': 2975,
 'requisition': 3172,
 'goods': 1712,
 'receipt': 3062,
 'warehouse': 3974,
 'maintain': 2253,
 'master': 2320,
 'purchasing': 2976,
 'parameters': 2662,
 'integrity': 1972,
 'operation': 2575,
 'excellence': 1442,
 'command': 790,
 'mps': 2443,
 'mrp': 2446,
 'erp': 1403,
 'review': 3221,
 'convert': 940,
 'monitor': 2428,
 'exception': 1444,
 'reschedule': 3173,
 'cancellation': 625,
 'identify': 1846,
 'gap': 1674,
 'recovery': 3080,
 'product': 2903,
 'supportability': 3663,
 'short': 3423,
 'long': 2226,
 'run': 3272,
 'collaborate': 763,
 'planners': 2772,
 'forecast': 1602,
 'errors': 1405,
 'addition': 221,
 'deliver': 1084,
 'support': 3662,
 'new': 2496,
 'tender': 3746,
 'continuous': 919,
 'work': 4012,
 'operational': 2576,
 'improvement': 1872,
 'optimization': 2592,
 'service': 3385,
 'result': 3203,
 'driven': 1249,
 'kpi': 2110,
 'imported': 1868,
 'finished': 1565,
 'knowledge': 2103,
 'strongly': 3611,
 'recommended': 3076,
 'manufacturing': 2298,
 'understanding': 3866,
 'background': 485,
 'added': 219,
 'advantage': 243,
 'possess': 2816,
 'negotiation': 2488,
 'interpersonal': 1996,
 'proactively': 2886,
 'driving': 1252,
 'building': 595,
 'trust': 3849,
 'credibility': 987,
 'close': 743,
 'collaboration': 765,
 'functional': 1654,
 'demonstrate': 1097,
 'initiative': 1924,
 'self': 3363,
 'multi': 2450,
 'task': 3712,
 'priorities': 2877,
 'importance': 1866,
 'computer': 841,
 'literacy': 2197,
 'high': 1792,
 'level': 2162,
 'exposure': 1489,
 'sap': 3295,
 'travel': 3831,
 'countries': 973,
 'sea': 3338,
 'according': 176,
 'assignment': 421,
 'multinational': 2455,
 'courier': 976,
 'delivery': 1090,
 'superior': 3651,
 'financial': 1559,
 'returns': 3216,
 'shareowners': 3408,
 'providing': 2961,
 'logistics': 2224,
 'transportation': 3830,
 'related': 3117,
 'focused': 1591,
 'operating': 2574,
 'companies': 810,
 'process': 2892,
 'analyze': 323,
 'update': 3882,
 'changes': 690,
 'information': 1914,
 'systems': 3688,
 'integration': 1968,
 'download': 1240,
 'prepare': 2856,
 'quality': 2994,
 'managers': 2284,
 'asia': 398,
 'pacific': 2649,
 'initiatives': 1925,
 'salary': 3283,
 '4000': 93,
 'changi': 691,
 'park': 2666,
 'year': 4039,
 'relevant': 3127,
 'proficient': 2915,
 'pivot': 2764,
 'table': 3690,
 'vlookup': 3953,
 'interested': 1983,
 'resume': 3206,
 'microsoft': 2383,
 'format': 1609,
 'jin': 2065,
 'vatenkeist': 3917,
 '1219269': 25,
 'cei': 665,
 'r1219269': 3014,
 'canopy': 631,
 'make': 2263,
 'sense': 3373,
 'technology': 3739,
 'start': 3564,
 'significant': 3432,
 'traction': 3808,
 'provide': 2957,
 'aggregation': 273,
 'analytics': 322,
 'institutions': 1955,
 'wealth': 3982,
 'net': 2491,
 'worth': 4027,
 'individuals': 1901,
 'flagship': 1577,
 'suisse': 3644,
 'way': 3980,
 'https': 1827,
 'cloud': 746,
 'completed': 827,
 'latest': 2133,
 'fund': 1657,
 'raise': 3029,
 'series': 3379,
 'looking': 2228,
 'grow': 1734,
 'significantly': 3433,
 'growth': 1737,
 'plan': 2768,
 'talented': 3701,
 'individual': 1900,
 'continue': 916,
 'feature': 1540,
 'functionalities': 1655,
 'role': 3247,
 'member': 2356,
 'responsible': 3196,
 'designing': 1127,
 'highly': 1796,
 'automated': 455,
 'solutions': 3491,
 'needs': 2482,
 'largest': 2129,
 'challenges': 681,
 'dealing': 1055,
 'large': 2127,
 'volumes': 3959,
 'complex': 830,
 'cleaned': 733,
 'standardized': 3561,
 'enriched': 1364,
 'stored': 3591,
 'databases': 1036,
 'having': 1766,
 'eye': 1500,
 'interact': 1976,
 'portfolio': 2806,
 'insights': 1939,
 'generators': 1689,
 'heart': 1781,
 'require': 3161,
 'forward': 1616,
 'thinking': 3766,
 'passion': 2680,
 'model': 2418,
 'aim': 281,
 'utilize': 3903,
 'technologies': 3738,
 'techniques': 3736,
 'users': 3897,
 'fastest': 1531,
 'flexible': 1581,
 'possible': 2819,
 'look': 2227,
 'today': 3790,
 'begin': 507,
 'help': 1785,
 'future': 1665,
 'education': 1286,
 'bachelors': 480,
 'science': 3322,
 'university': 3879,
 'preferred': 2844,
 'cfa': 677,
 'caia': 611,
 'frm': 1643,
 'translating': 3827,
 'structures': 3615,
 'cleaning': 734,
 'standardization': 3560,
 'algorithms': 293,
 'products': 2908,
 'artificial': 395,
 'intelligence': 1973,
 'machine': 2244,
 'learning': 2150,
 'grasp': 1723,
 'investigate': 2012,
 'discrepancies': 1194,
 'amazing': 308,
 'sql': 3540,
 'watering': 3979,
 'attention': 438,
 'power': 2824,
 'persist': 2728,
 'benefits': 516,
 'challenging': 682,
 'rewarding': 3230,
 'rapid': 3042,
 'career': 642,
 'progression': 2926,
 'health': 1778,
 'insurance': 1962,
 'employee': 1320,
 'share': 3406,
 'awards': 470,
 'collaborative': 767,
 'startup': 3568,
 'remuneration': 3138,
 'monthly': 2432,
 'range': 3035,
 'offered': 2544,
 '6000': 116,
 'industry': 1905,
 'construction': 894,
 'mnclocation': 2413,
 'marine': 2305,
 'parade': 2661,
 'areabasic': 381,
 '2500': 63,
 '4000working': 94,
 'hours': 1818,
 'week': 3988,
 '8am': 145,
 '6pm': 130,
 'mon': 2425,
 'fri': 1640,
 '12pm': 28,
 'sat': 3298,
 'requirementsgood': 3169,
 'spoken': 3535,
 'compulsorydiploma': 840,
 'graduate': 1722,
 'institution': 1953,
 'nature': 2473,
 'min': 2394,
 'experienceto': 1470,
 'apply': 361,
 '67281314': 126,
 'following': 1596,
 'request': 3156,
 'informationsubject': 1916,
 'site': 3449,
 'engineeruse': 1356,
 'pdf': 2695,
 'files': 1552,
 'bio': 535,
 'country': 974,
 'attach': 434,
 'recent': 3066,
 'photostate': 2749,
 'expected': 1462,
 'current': 1008,
 'drawn': 1245,
 'previous': 2864,
 'employersadvice': 1324,
 'date': 1041,
 'availability': 461,
 'leave': 2152,
 'offsetadvice': 2553,
 'reason': 3057,
 'leaving': 2153,
 'employmentsdescription': 1326,
 'projectnote': 2930,
 'requested': 3157,
 'considered': 884,
 'shortlisting': 3425,
 'consultant': 896,
 'contact': 905,
 'interviewfor': 2002,
 'opening': 2571,
 'jobalpha': 2070,
 'view': 3937,
 'listing': 2195,
 'page': 2654,
 'note': 2512,
 'response': 3192,
 'advertisement': 253,
 'communications': 806,
 'pursuant': 2979,
 'constitute': 893,
 'informed': 1917,
 'manpower': 2294,
 'purpose': 2977,
 'carrying': 645,
 'compliance': 832,
 'provisions': 2964,
 'protection': 2952,
 'act': 199,
 '2012': 50,
 'types': 3857,
 'time': 3781,
 'permanentsalary': 2724,
 '500': 105,
 '00': 0,
 '000': 1,
 'monthexperience': 2431,
 'freelance': 1634,
 'surveyor': 3673,
 'levels': 2163,
 'govt': 1717,
 'mature': 2330,
 'welcome': 3992,
 'islandwide': 2039,
 'commit': 797,
 '11': 18,
 'monthsjob': 2434,
 'scope': 3326,
 'door': 1236,
 'pertaining': 2737,
 'labour': 2120,
 'force': 1601,
 'cold': 762,
 'calling': 615,
 'entryjob': 1382,
 'upit': 3890,
 'savysingaporeans': 3304,
 'onlyfor': 2564,
 'applications': 357,
 'portal': 2805,
 'regret': 3111,
 'inform': 1912,
 'shortlisted': 3424,
 'candidates': 629,
 'contacted': 906,
 'tan': 3704,
 'shu': 3427,
 'qin': 2987,
 'sylviabgc': 3683,
 'group': 1731,
 'ltdea': 2237,
 '05c3053outsourcing': 8,
 'teamjob': 3724,
 'type': 3855,
 'contractsalary': 927,
 'trakomatic': 3816,
 'south': 3509,
 'east': 1266,
 'startups': 3569,
 'mission': 2406,
 'digitize': 1170,
 'planet': 2769,
 'earth': 1263,
 'specialize': 3524,
 'cutting': 1017,
 'edge': 1280,
 'video': 3935,
 'equip': 1395,
 'global': 1700,
 'businesses': 602,
 'big': 527,
 'small': 3473,
 'people': 2704,
 'counting': 972,
 'tracking': 3807,
 'facial': 1507,
 'recognition': 3069,
 'analysis': 317,
 'access': 170,
 'comprehensive': 837,
 'dashboard': 1029,
 'provides': 2960,
 'real': 3056,
 'overviews': 2641,
 'campaign': 618,
 'weekly': 3991,
 'alters': 305,
 'notifications': 2515,
 'integrated': 1966,
 'easily': 1265,
 'pos': 2808,
 'point': 2798,
 'crm': 994,
 'staff': 3549,
 'rostering': 3257,
 'party': 2679,
 'api': 342,
 'programming': 2923,
 'interface': 1985,
 'enable': 1331,
 'leaders': 2143,
 'practitioners': 2838,
 'diverse': 1213,
 'verticals': 3931,
 'retail': 3208,
 'banking': 493,
 'government': 1716,
 'smarter': 3476,
 'decisions': 1063,
 'motivated': 2437,
 'players': 2784,
 'join': 2073,
 'love': 2231,
 'hear': 1780,
 'responsibilities': 3193,
 'vision': 3946,
 'software': 3484,
 'engineer': 1351,
 'll': 2203,
 'adapting': 217,
 'ai': 279,
 'models': 2421,
 'house': 1819,
 'department': 1104,
 'production': 2904,
 'grade': 1720,
 'vary': 3915,
 'robust': 3242,
 'backend': 484,
 'presentation': 2862,
 'demonstration': 1101,
 'develop': 1145,
 'user': 3896,
 'centric': 671,
 'intuitive': 2009,
 'benefit': 515,
 'closely': 744,
 'designers': 1125,
 'qa': 2984,
 'testers': 3752,
 'professionalism': 2911,
 'clean': 732,
 'coding': 758,
 'standards': 3562,
 'repository': 3152,
 'etiquette': 1419,
 'lead': 2141,
 'engineers': 1354,
 'drive': 1248,
 'development': 1150,
 'ship': 3417,
 'engineering': 1352,
 'telecommunication': 3743,
 'equivalent': 1399,
 'position': 2810,
 'skill': 3457,
 'expertise': 1476,
 'windows': 4001,
 'platform': 2778,
 'intermediate': 1988,
 'ubuntu': 3860,
 'python': 2983,
 'opencv': 2569,
 'library': 2172,
 'matlab': 2326,
 'runtime': 3274,
 'deep': 1070,
 'debugging': 1058,
 'reverse': 3220,
 'porting': 2807,
 'code': 755,
 'memory': 2358,
 'processor': 2897,
 'cycle': 1023,
 'leadership': 2144,
 'qualities': 2993,
 'willing': 3999,
 'sgd': 3398,
 'great': 1725,
 'office': 2548,
 'facilities': 1512,
 'escalation': 1408,
 'oriented': 2619,
 'prior': 2876,
 'supporting': 3667,
 'corporate': 958,
 'scale': 3309,
 'leading': 2145,
 'internet': 1993,
 'helpdesk': 1786,
 'analyst': 318,
 'expanding': 1460,
 'based': 498,
 'located': 2212,
 'city': 724,
 'centre': 670,
 'alongside': 304,
 'creative': 985,
 'innovative': 1931,
 'believe': 511,
 'takes': 3697,
 'like': 2182,
 'priority': 2880,
 'regards': 3100,
 'streamline': 3603,
 'assist': 423,
 'trends': 3838,
 'findings': 1562,
 'internally': 1990,
 'technical': 3732,
 'preferably': 2842,
 'digital': 1168,
 'web': 3983,
 'advantageous': 247,
 'solid': 3489,
 'writing': 4032,
 'results': 3205,
 'immediate': 1853,
 'notice': 2514,
 'successful': 3636,
 'provided': 2958,
 'days': 1045,
 'annual': 333,
 '14': 32,
 'medical': 2346,
 'coverage': 979,
 'parties': 2671,
 'click': 739,
 'juzailah': 2085,
 'khatmin': 2094,
 'reg': 3095,
 'r1110441': 3013,
 '65': 121,
 '6429': 120,
 '3211': 81,
 'chandler': 687,
 'macleod': 2247,
 'licence': 2173,
 '11c3837': 22,
 'troubleshooting': 3846,
 'subsidiaries': 3631,
 'regionprovide': 3105,
 '400': 92,
 'migration': 2387,
 'server': 3381,
 'upgrade': 3886,
 'regionresponsible': 3107,
 'checking': 703,
 'regioncoordinate': 3103,
 'resources': 3185,
 'vendors': 3924,
 'enhancement': 1362,
 'procurement': 2898,
 'vendor': 3923,
 'regionmanage': 3104,
 'daily': 1026,
 'backup': 487,
 'jobs': 2071,
 'perform': 2708,
 'periodical': 2717,
 'restoration': 3201,
 'jobsprovide': 2072,
 'quickedd': 3002,
 'mirroring': 2403,
 'softwareundertake': 3486,
 'duties': 1256,
 'assignedadditional': 419,
 'engineeringat': 1353,
 'preferredexperience': 2847,
 'running': 3273,
 'ibm': 1837,
 'rpg': 3267,
 'cl': 726,
 'advantageexperience': 245,
 'iseries': 2038,
 'administration': 234,
 'preferredapplicants': 2845,
 'merits': 2367,
 'opportunities': 2580,
 'submit': 3627,
 'using': 3898,
 'buttonour': 604,
 'dedicated': 1066,
 'approachable': 365,
 'mci': 2334,
 'consultants': 898,
 'soon': 3497,
 'confidential': 859,
 'discussion': 1198,
 'include': 1882,
 'backgroundwork': 486,
 'formsreason': 1611,
 'leavingcurrent': 2154,
 'salarydate': 3286,
 'period': 2714,
 'notified': 2516,
 'searchchongset': 3343,
 'lin': 2185,
 'freya': 1639,
 'number': 2524,
 'r1875744ea': 3022,
 '06c2859': 10,
 '200': 45,
 'month': 2430,
 'responsibilitiesdevelop': 3194,
 'programs': 2924,
 'hardware': 1763,
 'device': 1156,
 'sdk': 3335,
 'apimaintain': 345,
 'enhance': 1360,
 'existing': 1458,
 'applicationassist': 355,
 'plans': 2775,
 'scheduling': 3318,
 'implementationregular': 1862,
 'codes': 757,
 'frameworks': 1629,
 'methodologies': 2373,
 'updating': 3885,
 'optimizingcommunicate': 2596,
 'manager': 2281,
 'associated': 427,
 'projectrequirementscandidate': 2931,
 'advanced': 240,
 'higher': 1793,
 'equivalentrequired': 1402,
 'language': 2124,
 'englishat': 1358,
 'php': 2750,
 'javascript': 2059,
 'angularjs': 331,
 'css': 999,
 'mysqlcloud': 2465,
 'base': 497,
 'restful': 3200,
 'jsonpreferably': 2078,
 'executive': 1452,
 'specialized': 3525,
 'equivalentmain': 1401,
 'conception': 844,
 'textbook': 3757,
 'structure': 3613,
 'algorithm': 292,
 'design': 1120,
 'pattern': 2688,
 'network': 2493,
 'oop': 2566,
 'thread': 3768,
 'knowing': 2102,
 'plus': 2788,
 'iot': 2029,
 'majorlinux': 2261,
 'os': 2622,
 'bash': 499,
 'scripting': 3332,
 'oops': 2567,
 'languages': 2125,
 'java': 2058,
 'oracle': 2599,
 'postgresqlframework': 2822,
 'bootstrapconfiguration': 554,
 'security': 3351,
 'performance': 2709,
 'reasoncode': 3058,
 'mercurial': 2365,
 'git': 1698,
 'svn': 3679,
 'scm': 3325,
 'tortoise': 3798,
 'branch': 565,
 'merge': 2366,
 'making': 2267,
 'libraries': 2171,
 'dll': 1217,
 'jar': 2057,
 'monday': 2426,
 'friday': 1641,
 '9am': 157,
 'saturday': 3301,
 '1pmsalary': 42,
 '5000minimum': 107,
 'r1104250hp': 3005,
 '9022': 149,
 '1488job': 33,
 'timesalary': 3787,
 'materials': 2324,
 'specialistjob': 3521,
 'forecastingresponsible': 1604,
 'order': 2601,
 'creation': 984,
 'arrangementliaise': 387,
 'suppliers': 3659,
 'schedulefollow': 3316,
 'damages': 1028,
 'defect': 1072,
 'parts': 2678,
 'resolutionreconciliation': 3178,
 'invoices': 2022,
 'discrepanciesreviewing': 1195,
 'usage': 3893,
 'action': 200,
 'taken': 3696,
 'stock': 3588,
 'right': 3234,
 'trend': 3837,
 'rop': 3256,
 'rol': 3246,
 'performs': 2712,
 'managementability': 2276,
 'contribute': 929,
 'ideas': 1843,
 'methodseducation': 2376,
 'qualification': 2990,
 'possesses': 2817,
 'writtenself': 4034,
 'proactive': 2885,
 'dynamicable': 1258,
 'pace': 2647,
 'environmentbackground': 1386,
 'aviation': 464,
 'mro': 2445,
 'assetdiploma': 416,
 'aerospace': 261,
 'advantageinterested': 246,
 'melissa': 2355,
 'kschr': 2114,
 '6737': 127,
 '8557': 143,
 'detailsregret': 1139,
 'ksc': 2113,
 '11c2878': 20,
 'tee': 3740,
 'siew': 3431,
 'mei': 2354,
 'r1219651': 3015,
 'important': 1867,
 'notes': 2513,
 'committed': 799,
 ...}

In [ ]:
from nltk.corpus import wordnet
 
synonyms = []
 
for syn in wordnet.synsets(df_indeed.job_description_all[0][1]):
 
    for lemma in syn.lemmas():
 
        synonyms.append(lemma.name())
 
print(synonyms)

In [220]:
df_indeed.job_description_all[0][2]

'n'

In [267]:
pd.read_csv('./indeed_with_salary.csv').drop_duplicates()

,Unnamed: 0,job_title,company,job_post_date,vjk,job_description_p,job_description_li,job_description_all
0,0,"credit control specialist ($4000, central)",kelly services singapore,21 days ago,46a2c7296e551f66,",the person will supports several post-sales f...",",minimum diploma in any field,minimum two-year...",minimum diploma in any field\nminimum two-year...
1,1,"junior supply planner / project (central, $4000)",kelly services singapore,18 days ago,17f54c1c4a78c20b,",requirements:,kelly services (singapore) pte ...",",working location at central, outside of cbd,5...","working location at central, outside of cbd\n5..."
2,2,business analyst (junior) / salary $4000 / mnc...,kelly services singapore,12 days ago,318af4b76afd6d18,",my client is a us multinational courier deliv...",",process, analyze, update requests for changes...",my client is a us multinational courier delive...
3,3,advanced data analyst (#fintech #startup),canopy pte ltd,30+ days ago,7483d5e8a6e5e695,",company,canopy is a ""make sense of your data""...",",bachelors in computer science / information t...","company\ncanopy is a ""make sense of your data""..."
4,4,site engineer / 5.5 work week,job alpha associates,6 days ago,615f20279c5ebd0d,",industry: construction / mnc,location: marin...",",diploma graduate from singapore institution (...",industry: construction / mnclocation: marine ...
5,5,freelance surveyor (up to $4000/o levels & up),bgc group pte ltd,8 days ago,49b2d57c6e15b4eb,",freelance surveyor (up to $4000/o-levels & up...",",to do door-to-door surveyor pertaining to the...",freelance surveyor (up to $4000/o-levels & up)...
6,6,computer vision software engineer,trakomatic pte. ltd.,8 days ago,a826021e81ae5a28,",trakomatic is one of south east asia's fastes...",",develop user-centric intuitive software to be...",trakomatic is one of south east asia's fastest...
7,7,helpdesk data analyst,chandler macleod,28 days ago,eb2f9735e412802b,",are you customer-service oriented with prior ...",",1 year contract,$4000 monthly, great office f...","1 year contract\n$4000 monthly, great office f..."
8,8,"it support engineer, as400 (5 day / central / ...",mci career services pte ltd,1 day ago,bacf99afc1d84e74,",responsibilities:,additional information:,app...",",provide erp support and troubleshooting for t...",responsibilities: provide erp support and trou...
9,9,programmer,prosper employment agency(ea lic: 08c5590),21 days ago,baa086c652a7acad,",responsibilities,requirements,working hours: ...",",develop programs to control hardware device u...",responsibilitiesdevelop programs to control ha...
10,10,materials specialist (perm / alexandra / $3500...,ksc hr,23 days ago,54ec636307175dbd,",materials specialist,job description -,educat...",",assist in materials planning & forecasting,re...",materials specialistjob description -assist in...
11,11,secretary ( town/ us mnc / $4000 - $4200/ imme...,dynamic human capital pte ltd,3 days ago,41be6f827595b81e,NaN,NaN,town area\nus mnc\nmonday to friday / 8.30am t...
12,12,accounts executive,trakomatic pte. ltd.,8 days ago,6a20eff195dc8564,",trakomatic is one of south east asia's fastes...",",candidate must possess at least a diploma in ...",trakomatic is one of south east asia's fastest...
13,13,order management specialist / salary $4000 / w...,kelly services singapore,29 days ago,cae3ff1c427b90f0,",my client is a us multinational conglomerate....",",be part of the complex supply chain interacti...",my client is a us multinational conglomerate. ...
14,14,material planner / salary up to $4000 / mnc / ...,kelly services singapore,12 hours ago,69bfddde43c5af41,",my client is an american multinational conglo...",",purchase activities for all materials (fixtur...",my client is an american multinational conglom...
15,15,"credit control specialist ($4000, central)",kelly services singapore,21 days ago,e01ec12b9e870dda,",the person will supports several post-sales f...",",minimum diploma in any field,minimum two-year...",minimum diploma in any field\nminimum two-year...
16,16,"junior supply planner / project (central, $4000)",kelly services singapore,18 days ago,736e8c144ec95ea2,",requirements:,kelly services (singapore) pte ...",",working location at central, outside of cbd,5...","working location at central, outside of cbd\n5..."
17,17,business analyst (junior) / salary $4000 / mnc...,kelly services singapore,12 days ago,41be6f827595b81e,",my client is a us multinational courier deliv...",",process, analyze, update requests for changes...",my client is a us multinational courier delive...
18,18,advanced data analyst (#fintech #startup),canopy pte ltd,30+ days ago,cdd67506e5c238dc,",company,canopy is a ""make sense of your data""...",",bachelors in computer science / information t...","company\ncanopy is a ""make sense of your data""..."
19,19,site engineer / 5.5 work week,job alpha associates,6 days ago,NaN,",industry: construction / mnc,location: marin...",",diploma graduate from singapore institution (...",industry: construction / mnclocation: marine ...
20,20,freelance surveyor (up to $4000/o levels & up),bgc group pte ltd,8 days ago,NaN,",freelance surveyor (up to $4000/o-levels & up...",",to do door-to-door surveyor pertaining to the...",freelance surveyor (up to $4000/o-levels & up)...
21,21,computer vision software engineer,trakomatic pte. ltd.,8 days ago,NaN,",trakomatic is one of south east asia's fastes...",",develop user-centric intuitive software to be...",trakomatic is one of south east asia's fastest...
22,22,helpdesk data analyst,chandler macleod,28 days ago,NaN,",are you customer-service oriented with prior ...",",1 year contract,$4000 monthly, great office f...","1 year contract\n$4000 monthly, great office f..."
23,23,"it support engineer, as400 (5 day / central / ...",mci career services pte ltd,1 day ago,NaN,",responsibilities:,additional information:,app...",",provide erp support and troubleshooting for t...",responsibilities: provide erp support and trou...
24,24,programmer,prosper employment agency(ea lic: 08c5590),21 days ago,NaN,",responsibilities,requirements,working hours: ...",",develop programs to control hardware device u...",responsibilitiesdevelop programs to control ha...
25,25,materials specialist (perm / alexandra / $3500...,ksc hr,23 days ago,NaN,",materials specialist,job description -,educat...",",assist in materials planning & forecasting,re...",materials specialistjob description -assist in...
26,26,secretary ( town/ us mnc / $4000 - $4200/ imme...,dynamic human capital pte ltd,3 days ago,NaN,NaN,NaN,town area\nus mnc\nmonday to friday / 8.30am t...
27,27,accounts executive,trakomatic pte. ltd.,8 days ago,NaN,",trakomatic is one of south east asia's fastes...",",candidate must possess at least a diploma in ...",trakomatic is one of south east asia's fastest...
28,28,order management specialist / salary $4000 / w...,kelly services singapore,29 days ago,NaN,",my client is a us multinational conglomerate....",",be part of the complex supply chain interacti...",my client is a us multinational conglomerate. ...
29,29,material planner / salary up to $4000 / mnc / ...,kelly services singapore,12 hours ago,NaN,",my client is an american multinational conglo...",",purchase activities for all materials (fixtur...",my client is an american multinational conglom...
...,...,...,...,...,...,...,...,...
177,1426,advanced data analyst (#fintech #startup),canopy pte ltd,30+ days ago,36ae67bf30a728bd,",company,canopy is a ""make sense of your data""...",",bachelors in computer science / information t...","company\ncanopy is a ""make sense of your data""..."
178,1427,site engineer / 5.5 work week,job alpha associates,6 days ago,bf3120ed476883ac,",industry: construction / mnc,location: marin...",",diploma graduate from singapore institution (...",industry: construction / mnclocation: marine ...
179,1428,freelance surveyor (up to $4000/o levels & up),bgc group pte ltd,8 days ago,14707ed993d8e052,",freelance surveyor (up to $4000/o-levels & up...",",to do door-to-door surveyor pertaining to the...",freelance surveyor (up to $4000/o-levels & up)...
180,1429,computer vision software engineer,trakomatic pte. ltd.,8 days ago,6c434d2bdbaa78db,",trakomatic is one of south east asia's fastes...",",develop user-centric intuitive software to be...",trakomatic is one of south east asia's fastest...
181,1430,helpdesk data analyst,chandler macleod,28 days ago,a2d9a066c990522a,",are you customer-service oriented with prior ...",",1 year contract,$4000 monthly, great office f...","1 year contract\n$4000 monthly, great office f..."
182,1431,"it support engineer, as400 (5 day / central / ...",mci career services pte ltd,1 day ago,a61a2f36be6791e4,",responsibilities:,additional information:,app...",",provide erp support and troubleshooting for t...",responsibilities: provide erp support and trou...
183,1432,programmer,prosper employment agency(ea lic: 08c5590),21 days ago,32b57ecf959b6eea,",responsibilities,requirements,working hours: ...",",develop programs to control hardware device u...",responsibilitiesdevelop programs to control ha...
184,1433,materials specialist (perm / alexandra / $3500...,ksc hr,23 days ago,ef673cae504c62b5,",materials specialist,job description -,educat...",",assist in materials planning & forecasting,re...",materials specialistjob description -assist in...
185,1434,secretary ( town/ us mnc / $4000 - $4200/ imme...,dynamic human capital pte ltd,3 days ago,092e222f3bd1816a,NaN,NaN,town area\nus mnc\nmonday to friday / 8.30am t...
186,1435,accounts executive,trakomatic pte. ltd.,8 days ago,b8e617d795d52b00,",trakomatic is one of south east asia's fastes...",",candidate must possess at least a diploma in ...",trakomatic is one of south east asia's fastest...
187,1436,order management specialist / salary $4000 / w...,kelly services singapore,29 days ago,243c64d8ff4e3565,",my client is a us multinational conglomerate....",",be part of the complex supply chain interacti...",my client is a us multinational conglomerate. ...
188,1437,material planner / salary up to $4000 / mnc / ...,kelly services singapore,12 hours ago,c147ee902e8f8c97,",my client is an american multinational conglo...",",purchase activities for all materials (fixtur...",my client is an american multinational conglom...
189,1519,project executive (healthcare systems and tech...,kelly services singapore,9 days ago,NaN,",our client is a biotechnology pioneer that di...",",in conjunction with a dedicated project lead,...",our client is a biotechnology pioneer that dis...
190,1520,project manager / $9000 / mnc / central,kelly services singapore,9 days ago,NaN,",our client is a biotechnology pioneer that di...",",in conjunction with a dedicated project lead,...",our client is a biotechnology pioneer that dis...
191,1521,project manager (healthcare systems and techno...,kelly services singapore,10 days ago,NaN,",our client is a biotechnology pioneer that di...",",in conjunction with a dedicated project lead,...",our client is a biotechnology pioneer that dis...
192,1522,application engineer,at northland controls,8 days ago,NaN,",northland controls is looking for an applicat...",",an abundance of faith and trust in our employ...",at northland controls\n\nnorthland controls is...
193,1523,service engineer,johnson controls,20 days ago,NaN,",job field operations,primary locationsg-south...",",the ability to learn subject matter quickly a...",the ability to learn subject matter quickly an...
194,1524,application specialist (client base),icd security solutions,30+ days ago,NaN,",general description:,applications specialist ...",NaN,16. may 2018\napplication specialist (client b...
195,1525,quality engineer (risk management),systems on silicon manufacturing co. pte. ltd.,30+ days ago,NaN,",responsibilities:,requirements:",",working with the department to develop strate...",responsibilities:\n\nbusiness continuity manag...
196,1526,quality engineer,systems on silicon manufacturing,30+ days ago,NaN,",responsibilities:,requirements:",",working with the department to develop strate...",responsibilities:\n\nbusiness continuity manag...
197,1527,technician,at northland controls,30+ days ago,NaN,",job title: technician,reports to: operations ...",",certifications in access control systems such...",at northland controls\n\njob title: technician...
198,1528,trading manager asia pacific,barry callebaut,5 days ago,NaN,",barry callebaut is the heart and engine of th...",",to manage and maintain all other data records...",barry callebaut is the heart and engine of the...
199,1529,embedded application engineer,at northland controls,27 days ago,NaN,",job title: application engineer\nreports to: ...",",manages client global access control and vide...",at northland controls\n\njob title: applicatio...
200,1531,production supervisor - pbu fitting,greyform pte ltd,30+ days ago,NaN,",as a production supervisor, you will assist t...",",overall responsible for project planning / pl...","as a production supervisor, you will assist th..."
201,1532,lead development engineer / salary $9000 / ban...,kelly services singapore,10 days ago,NaN,",my client is a local bank which is the larges...",",manage in scope customer communication platfo...",my client is a local bank which is the largest...
202,1533,project manager / salary $9000 / mnc / central,kelly services singapore,10 days ago,NaN,",our client is a biotechnology pioneer that di...",",in conjunction with a dedicated project lead,...",our client is a biotechnology pioneer that dis...
203,1978,"credit control specialist ($4000, central)",kelly services singapore,21 days ago,723e131bcfb138e0,",the person will supports several post-sales f...",",minimum diploma in any field,minimum two-year...",minimum diploma in any field\nminimum two-year...
204,2089,manager - marketing & communications - 23001,tata communications,30+ days ago,NaN,NaN,",the role,strategy\nstakeholder mapping, craft...",job family descriptor\n\nthe context\n\nover t...
205,3098,"credit control specialist ($4000, central)",kelly services singapore,21 days ago,a662050ecf6f9c9c,",the person will supports several post-sales f...",",minimum diploma in any field,minimum two-year...",minimum diploma in any field\nminimum two-year...
206,3210,"solution architect (up to $12k, mnc, 1 year co...",htz resources singapore (ea:14c7241),12 days ago,NaN,",your rolethe solutions/integration architect'...",",assess, design, and deliver an integration ar...",your rolethe solutions/integration architect's...

In [268]:
df_indeed

,job_title,company,job_description_all
0,credit control specialist,kelly services singapore,minimum diploma in any field\nminimum two-year...
1,junior supply planner,kelly services singapore,"working location at central, outside of cbd\n5..."
2,business analyst,kelly services singapore,my client is a us multinational courier delive...
3,advanced data analyst,canopy pte ltd,"company\ncanopy is a ""make sense of your data""..."
4,site engineer,job alpha associates,industry: construction / mnclocation: marine ...
5,freelance surveyor,bgc group pte ltd,freelance surveyor (up to $4000/o-levels & up)...
6,computer vision software engineer,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...
7,helpdesk data analyst,chandler macleod,"1 year contract\n$4000 monthly, great office f..."
8,it support engineer,mci career services pte ltd,responsibilities: provide erp support and trou...
9,programmer,prosper employment agency(ea lic: 08c5590),responsibilitiesdevelop programs to control ha...
10,materials specialist,ksc hr,materials specialistjob description -assist in...
11,accounts executive,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...
12,order management specialist,kelly services singapore,my client is a us multinational conglomerate. ...
13,material planner,kelly services singapore,my client is an american multinational conglom...
14,perm senior executive,success human resource centre pte ltd,up to $4200 nego depending on the years of exp...
15,aix system engineer,success human resource centre pte ltd,engineer specialising in aix system (attractiv...
16,project engineer,hkm hr management pte ltd.,mnc – epc for engineering project – material h...
17,medical sales representative,kelly services singapore,working location at amk\n2-4 years experience ...
18,marketing specialist,kelly services singapore,6 months contract\namk\n$5000*\nresponsibiliti...
19,planner - supply chain,kelly services singapore,prior experience is required\n3 years experien...
20,business intelligence,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%..."
21,workplace safety & health officer,greensafe international pte ltd,requirements\n\nmust be a registered workplace...
22,software engineer intern - cross products inte...,zendesk,internship period - january to june 2019\n\nat...
23,cybersecurity engineering consultant,booz allen hamilton,the challenge:\nare you ready to use your cybe...
24,project coordinator,avepoint singapore pte. ltd.,roles & responsibilities\nthe company\n\navepo...
25,verification & validation,resmed,verification & validation (v&v) engineer (1 ye...
26,senior solutions architect,personnel link jobhub pte. ltd.,roles & responsibilities\nexperienced adobe ex...
27,project engineer,ecnet limited,job title: project engineersalary: $5000 + per...
28,etl tester,aryan search pte ltd,we are looking for an etl tester role for a pe...
29,supply chain planner,kelly services singapore,prior experience is required\n2-3 years experi...
...,...,...,...
63,network engineer - level 3,encora technologies pte. ltd.,roles & responsibilities\n12 months renewable ...
64,sales operations analyst,chandler macleod,6 months contract\nleading multimedia and inte...
65,project delivery executive,kelly services singapore,my client is a leader in aviation and high-int...
66,permanent data manager,success human resource centre pte ltd,permanent\nmon – fri : 8.30am-6.00pm\nang mo k...
67,senior business analystsenior business analyst,kelly services singapore,my client is a leader in aviation and high-int...
68,business intelligence specialist - logistics o...,hkm hr management pte. ltd,* an established logistics/ freight forwarding...
69,finance business partner,maersk,maersk line fleet management and technology is...
70,business analyst,fave,job type\nfull-time / permanent ( entry level ...
71,merchandising and revenue planner - singapore,fave group pte ltd,fave is southeast asia’s fastest-growing start...
72,merchandising and revenue planner - singapore,kfit,fave is southeast asia’s fastest-growing start...
73,analyst -,chandler macleod,global internet & multimedia mnc\n1 year contr...
74,laravel backend engineer,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%..."
75,database tester,aryan search pte ltd,we are looking for a database tester for a per...
76,svp,dbs bank,business function\n\ngroup technology and oper...
77,process analyst,kelly services singapore,my client is a us multinational conglomerate. ...
78,product specialist,gmp group,well-established us manufacturing mnc.\nrespon...
79,product specialist,gmp recruit,well-established us manufacturing mnc.\nrespon...
80,project executive,kelly services singapore,our client is a biotechnology pioneer that dis...
81,project manager,kelly services singapore,our client is a biotechnology pioneer that dis...
82,application engineer,at northland controls,at northland controls\n\nnorthland controls is...
83,service engineer,johnson controls,the ability to learn subject matter quickly an...
84,application specialist,icd security solutions,16. may 2018\napplication specialist (client b...
85,quality engineer,systems on silicon manufacturing co. pte. ltd.,responsibilities:\n\nbusiness continuity manag...
86,quality engineer,systems on silicon manufacturing,responsibilities:\n\nbusiness continuity manag...
87,trading manager asia pacific,barry callebaut,barry callebaut is the heart and engine of the...
88,embedded application engineer,at northland controls,at northland controls\n\njob title: applicatio...
89,production supervisor - pbu fitting,greyform pte ltd,"as a production supervisor, you will assist th..."
90,lead development engineer,kelly services singapore,my client is a local bank which is the largest...
91,manager - marketing & communications - 23001,tata communications,job family descriptor\n\nthe context\n\nover t...
92,solution architect,htz resources singapore (ea:14c7241),your rolethe solutions/integration architect's...

In [547]:
df_indeed.job_title=df_indeed.job_title.map(lambda x:re.split("[/()-,]+", x)[0])
df_indeed=df_indeed[df_indeed.job_title!='secretary ']
df_indeed=df_indeed[df_indeed.job_title!='technician']

In [549]:
df_indeed=df_indeed.drop_duplicates()

In [551]:
df_indeed.reset_index(inplace=True,drop=True)

In [275]:
df_indeed.job_title[0]

'credit control specialist ($4000, central)'

In [403]:
dict_sal={}
for ind in range(len(df_indeed.job_title)):
    temp=[]
    temp_2=[]
    #print(ind)
    #print(re.findall(r'\d+\b', df_indeed.job_description_all[ind]))
    temp.extend(re.findall(r'\$\d+[.," "-]?\d+', df_indeed.job_title[ind]))
    temp.extend(re.findall(r'\$\d+[.," "-]?\d+', df_indeed.job_description_all[ind]))
    for x in temp:
        x=x.replace(',','')
        x=x.replace('$','')
        try:
            x=int(x)
        except:
            x=0
        if 1000<x<15000:
            temp_2.append(x)
    dict_sal[ind]=list(np.unique(temp_2))
    #print(re.findall(r'[$]?\d+[.," "-]?\d+', df_indeed.job_description_all[ind]))

In [404]:
emp_key=[]
for key in dict_sal.keys():
    if len(dict_sal[key])==0:
        emp_key.append(key)

In [405]:
for ind in emp_key:
    temp=[]
    temp_2=[]
    #print(ind)
    #print(re.findall(r'\d+\b', df_indeed.job_description_all[ind]))
    temp.extend(re.findall(r'\d+[,]?\d+', df_indeed.job_title[ind]))
    temp.extend(re.findall(r'\d+[,]?\d+', df_indeed.job_description_all[ind]))
    for x in temp:
        x=x.replace(',','')
        x=x.replace('$','')
        try:
            x=int(x)
        except:
            x=0
        if 1000<x<15000:
            temp_2.append(x)
    dict_sal[ind]=list(np.unique(temp_2))
    #dict_sal[ind]=temp_2

In [393]:
df_indeed['salary']=0

In [406]:
'''
Assumption:
'''
for key in dict_sal.keys():
    temp=[]
    if len(dict_sal[key])==1:
        temp.append(-1)
        temp.append(dict_sal[key][0])
        dict_sal[key]=temp

In [470]:
dict_sal[32]=[3800,4200]
dict_sal[55]=[3000,5000]
dict_sal[57]=[np.nan,np.nan]
dict_sal[59]=[np.nan,np.nan]
dict_sal[60]=[np.nan,np.nan]
dict_sal[61]=[5000,6500]
dict_sal[63]=[5000,6500]
dict_sal[90]=[5000,6000]
dict_sal[95]=[5000,6500]
dict_sal[100]=[np.nan,np.nan]
dict_sal[105]=[np.nan,np.nan]
dict_sal[106]=[8000,9000]
dict_sal[138]=[np.nan,np.nan]
dict_sal[139]=[np.nan,np.nan]
dict_sal[166]=[3000,8000]
dict_sal[167]=[np.nan,np.nan]
dict_sal[168]=[np.nan,np.nan]
dict_sal[172]=[np.nan,np.nan]
dict_sal[173]=[-1,4000]
dict_sal[189]=[5000,6500]
dict_sal[192]=[np.nan,np.nan]
dict_sal[193]=[np.nan,np.nan]
dict_sal[194]=[np.nan,np.nan]
dict_sal[195]=[np.nan,np.nan]
dict_sal[196]=[np.nan,np.nan]
dict_sal[197]=[np.nan,np.nan]
dict_sal[198]=[np.nan,np.nan]
dict_sal[199]=[np.nan,np.nan]
dict_sal[200]=[np.nan,np.nan]
dict_sal[204]=[np.nan,np.nan]

In [478]:
df_indeed['job_min_salary']=0
df_indeed['job_max_salary']=0

In [479]:
for key in dict_sal:
    df_indeed['job_min_salary'].loc[key]=dict_sal[key][0]
    df_indeed['job_max_salary'].loc[key]=dict_sal[key][1]

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [546]:
df_indeed.dropna(inplace=True)

In [608]:
x=['a','b','c']
if 'd' in x:
    print('yes')

In [634]:
dict_job_type=[]
for ind in range(len(df_indeed.job_title)):
    temp=[]    
    #print(ind)
    #print(re.findall(r'\d+\b', df_indeed.job_description_all[ind]))
    temp.extend(re.findall(r'contract', df_indeed.job_description_all[ind]))
    temp.extend(re.findall(r'permanent', df_indeed.job_description_all[ind]))
    temp.extend(re.findall(r'full time', df_indeed.job_description_all[ind]))
    #print(re.findall(r'contract', df_indeed.job_description_all[ind]))
    #print(re.findall(r'permanent', df_indeed.job_description_all[ind]))
    #print(temp)
    if 'permanent' in temp:
        x='full_time'
    elif 'full time' in temp:
        x='full_time'
    elif 'contract' in temp:
        x='contract'
    elif len(temp)==0:
        x='full_time'
    dict_job_type.append(x)

In [636]:
df_indeed['job_type']=dict_job_type

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [637]:
df_indeed

,job_title,company,job_description_all,job_min_salary,job_max_salary,job_type
0,credit control specialist,kelly services singapore,minimum diploma in any field\nminimum two-year...,-1.0,4000.0,contract
1,junior supply planner,kelly services singapore,"working location at central, outside of cbd\n5...",-1.0,4000.0,contract
2,business analyst,kelly services singapore,my client is a us multinational courier delive...,-1.0,4000.0,contract
3,advanced data analyst,canopy pte ltd,"company\ncanopy is a ""make sense of your data""...",4000.0,6000.0,full_time
4,site engineer,job alpha associates,industry: construction / mnclocation: marine ...,2500.0,4000.0,full_time
5,freelance surveyor,bgc group pte ltd,freelance surveyor (up to $4000/o-levels & up)...,2000.0,4000.0,contract
6,computer vision software engineer,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...,4000.0,6000.0,full_time
7,helpdesk data analyst,chandler macleod,"1 year contract\n$4000 monthly, great office f...",-1.0,4000.0,contract
8,it support engineer,mci career services pte ltd,responsibilities: provide erp support and trou...,3200.0,4000.0,full_time
9,programmer,prosper employment agency(ea lic: 08c5590),responsibilitiesdevelop programs to control ha...,4000.0,5000.0,full_time
10,materials specialist,ksc hr,materials specialistjob description -assist in...,3500.0,4000.0,full_time
11,accounts executive,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...,2800.0,4000.0,full_time
12,order management specialist,kelly services singapore,my client is a us multinational conglomerate. ...,3500.0,4000.0,contract
13,material planner,kelly services singapore,my client is an american multinational conglom...,-1.0,4000.0,contract
14,perm senior executive,success human resource centre pte ltd,up to $4200 nego depending on the years of exp...,-1.0,4200.0,full_time
15,aix system engineer,success human resource centre pte ltd,engineer specialising in aix system (attractiv...,4200.0,4500.0,full_time
16,project engineer,hkm hr management pte ltd.,mnc – epc for engineering project – material h...,3800.0,4200.0,contract
17,medical sales representative,kelly services singapore,working location at amk\n2-4 years experience ...,-1.0,5000.0,contract
18,marketing specialist,kelly services singapore,6 months contract\namk\n$5000*\nresponsibiliti...,-1.0,5000.0,contract
19,planner - supply chain,kelly services singapore,prior experience is required\n3 years experien...,-1.0,5000.0,contract
20,business intelligence,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%...",3000.0,5000.0,full_time
21,workplace safety & health officer,greensafe international pte ltd,requirements\n\nmust be a registered workplace...,5000.0,5200.0,contract
22,cybersecurity engineering consultant,booz allen hamilton,the challenge:\nare you ready to use your cybe...,-1.0,5000.0,full_time
23,senior solutions architect,personnel link jobhub pte. ltd.,roles & responsibilities\nexperienced adobe ex...,5000.0,6500.0,full_time
24,project engineer,ecnet limited,job title: project engineersalary: $5000 + per...,-1.0,5000.0,full_time
25,etl tester,aryan search pte ltd,we are looking for an etl tester role for a pe...,5000.0,6500.0,full_time
26,supply chain planner,kelly services singapore,prior experience is required\n2-3 years experi...,-1.0,5000.0,contract
27,creative writer,kelly services singapore,my client is a us multinational conglomerate. ...,-1.0,5000.0,contract
28,apac investigator - banking industry,chandler macleod,"1 year contract\nglobal bank\n$5200 monthly, c...",-1.0,5200.0,contract
29,mould designer,kelly services singapore,"my client is a privately held, family-owned co...",-1.0,5400.0,full_time
...,...,...,...,...,...,...
43,data center principal electrical engineer,cobalt recruitment,ref: jn -082018-62364\nsalarysgd8000 - sgd9000...,8000.0,9000.0,full_time
44,brand manager- retail,clarist resources pte ltd,established lifestyle fashion retailer invites...,-1.0,7000.0,full_time
45,business analyst,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,7000.0,full_time
46,network technical support,kelly services singapore,my client is a french company who is a leading...,-1.0,7000.0,contract
47,hiring for scrum master,aryan search pte ltd,we are hiring for one of the position of scrum...,7000.0,9000.0,contract
48,business analyst regulatory,aryan search pte ltd,we are hiring for one of the position of busin...,5000.0,7000.0,contract
49,corporate service finance manager,mci career services pte ltd,responsibilities: oversee a senior executive i...,5000.0,7000.0,full_time
50,sap mm,washington frank,responsibilities:\n\nmaintenance of sap applic...,-1.0,7000.0,full_time
51,it officer,good job creations (singapore) pte. ltd.,雇用形態 正社員\n\n業種 建築・設備 職種 it技術者\n\n給与 s$4000 ～ s...,4000.0,7000.0,full_time
52,group finance manager,global search partners,group (assistant)/ finance manager location: t...,6000.0,7000.0,full_time
53,software manager,jmc talent search pte ltd,manufacturing mnctuas / 5 dayssalary up to $70...,-1.0,7000.0,full_time
54,network engineer,kelly services singapore,my client is a french company who is a leading...,-1.0,7000.0,contract
55,web developer,kelly services singapore,my client is the global leader in customer rel...,-1.0,7000.0,contract
56,sales operations analyst,chandler macleod,6 months contract\nleading multimedia and inte...,6500.0,7600.0,contract
57,project delivery executive,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,8000.0,full_time
58,permanent data manager,success human resource centre pte ltd,permanent\nmon – fri : 8.30am-6.00pm\nang mo k...,-1.0,8000.0,full_time
59,senior business analystsenior business analyst,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,8000.0,full_time
60,business intelligence specialist - logistics o...,hkm hr management pte. ltd,* an established logistics/ freight forwarding...,6000.0,8000.0,full_time
61,finance business partner,maersk,maersk line fleet management and technology is...,-1.0,8000.0,full_time
62,business analyst,fave,job type\nfull-time / permanent ( entry level ...,-1.0,2600.0,full_time
63,merchandising and revenue planner - singapore,fave group pte ltd,fave is southeast asia’s fastest-growing start...,-1.0,8000.0,full_time
64,merchandising and revenue planner - singapore,kfit,fave is southeast asia’s fastest-growing start...,-1.0,8000.0,full_time
65,analyst -,chandler macleod,global internet & multimedia mnc\n1 year contr...,8000.0,9000.0,contract
66,laravel backend engineer,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%...",3000.0,8000.0,full_time
67,process analyst,kelly services singapore,my client is a us multinational conglomerate. ...,6000.0,8000.0,contract
68,product specialist,gmp recruit,well-established us manufacturing mnc.\nrespon...,-1.0,4000.0,full_time
69,project executive,kelly services singapore,our client is a biotechnology pioneer that dis...,5000.0,6500.0,contract
70,project manager,kelly services singapore,our client is a biotechnology pioneer that dis...,7500.0,9000.0,contract
71,lead development engineer,kelly services singapore,my client is a local bank which is the largest...,-1.0,9000.0,contract
72,solution architect,htz resources singapore (ea:14c7241),your rolethe solutions/integration architect's...,8000.0,12000.0,full_time

In [711]:
dict_min_year={}
for ind in range(len(df_indeed.job_description_all)):
    temp=[]
    #print(ind)
    z=re.findall(r'[\d]+?[-]?[\d]+? year', df_indeed.job_description_all[ind])
    for item in z:
        if len(item)!=0:
            #print(ind)
            #print(item)
            dict_min_year[ind]=np.min(list(map(int, re.findall(r'[\d]+',item))))
        #temp.append(int(item.split()))
    #print(temp)
    #if len(temp) !=0:
        #print(np.min(list(temp)))

In [713]:
dict_min_year[0]=2

In [714]:
exclude=dict_min_year.keys()

In [719]:
for ind in [x for x in range(len(df_indeed.job_description_all)) if x not in exclude]:
    temp=[]
    #print(ind)
    z=re.findall(r'[a-z]+? \d[-]?[\d+]? year', df_indeed.job_description_all[ind])
    for item in z:
        if len(item)!=0:
            #print(ind)
            #print(item)
            #print(np.min(list(map(int, re.findall(r'[\d]+',item)))))
            dict_min_year[ind]=np.min(list(map(int, re.findall(r'[\d]+',item))))
        #temp.append(int(item.split()))
    #print(temp)
    #if len(temp) !=0:
        #print(np.min(list(temp)))

In [722]:
exclude=dict_min_year.keys()

In [721]:
len(dict_min_year)

45

In [723]:
for ind in [x for x in range(len(df_indeed.job_description_all)) if x not in exclude]:
    dict_min_year[ind]=np.nan

In [727]:
dict_min_year=dict(sorted(dict_min_year.items()))

In [729]:
df_indeed

,job_title,company,job_description_all,job_min_salary,job_max_salary,job_type
0,credit control specialist,kelly services singapore,minimum diploma in any field\nminimum two-year...,-1.0,4000.0,contract
1,junior supply planner,kelly services singapore,"working location at central, outside of cbd\n5...",-1.0,4000.0,contract
2,business analyst,kelly services singapore,my client is a us multinational courier delive...,-1.0,4000.0,contract
3,advanced data analyst,canopy pte ltd,"company\ncanopy is a ""make sense of your data""...",4000.0,6000.0,full_time
4,site engineer,job alpha associates,industry: construction / mnclocation: marine ...,2500.0,4000.0,full_time
5,freelance surveyor,bgc group pte ltd,freelance surveyor (up to $4000/o-levels & up)...,2000.0,4000.0,contract
6,computer vision software engineer,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...,4000.0,6000.0,full_time
7,helpdesk data analyst,chandler macleod,"1 year contract\n$4000 monthly, great office f...",-1.0,4000.0,contract
8,it support engineer,mci career services pte ltd,responsibilities: provide erp support and trou...,3200.0,4000.0,full_time
9,programmer,prosper employment agency(ea lic: 08c5590),responsibilitiesdevelop programs to control ha...,4000.0,5000.0,full_time
10,materials specialist,ksc hr,materials specialistjob description -assist in...,3500.0,4000.0,full_time
11,accounts executive,trakomatic pte. ltd.,trakomatic is one of south east asia's fastest...,2800.0,4000.0,full_time
12,order management specialist,kelly services singapore,my client is a us multinational conglomerate. ...,3500.0,4000.0,contract
13,material planner,kelly services singapore,my client is an american multinational conglom...,-1.0,4000.0,contract
14,perm senior executive,success human resource centre pte ltd,up to $4200 nego depending on the years of exp...,-1.0,4200.0,full_time
15,aix system engineer,success human resource centre pte ltd,engineer specialising in aix system (attractiv...,4200.0,4500.0,full_time
16,project engineer,hkm hr management pte ltd.,mnc – epc for engineering project – material h...,3800.0,4200.0,contract
17,medical sales representative,kelly services singapore,working location at amk\n2-4 years experience ...,-1.0,5000.0,contract
18,marketing specialist,kelly services singapore,6 months contract\namk\n$5000*\nresponsibiliti...,-1.0,5000.0,contract
19,planner - supply chain,kelly services singapore,prior experience is required\n3 years experien...,-1.0,5000.0,contract
20,business intelligence,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%...",3000.0,5000.0,full_time
21,workplace safety & health officer,greensafe international pte ltd,requirements\n\nmust be a registered workplace...,5000.0,5200.0,contract
22,cybersecurity engineering consultant,booz allen hamilton,the challenge:\nare you ready to use your cybe...,-1.0,5000.0,full_time
23,senior solutions architect,personnel link jobhub pte. ltd.,roles & responsibilities\nexperienced adobe ex...,5000.0,6500.0,full_time
24,project engineer,ecnet limited,job title: project engineersalary: $5000 + per...,-1.0,5000.0,full_time
25,etl tester,aryan search pte ltd,we are looking for an etl tester role for a pe...,5000.0,6500.0,full_time
26,supply chain planner,kelly services singapore,prior experience is required\n2-3 years experi...,-1.0,5000.0,contract
27,creative writer,kelly services singapore,my client is a us multinational conglomerate. ...,-1.0,5000.0,contract
28,apac investigator - banking industry,chandler macleod,"1 year contract\nglobal bank\n$5200 monthly, c...",-1.0,5200.0,contract
29,mould designer,kelly services singapore,"my client is a privately held, family-owned co...",-1.0,5400.0,full_time
...,...,...,...,...,...,...
43,data center principal electrical engineer,cobalt recruitment,ref: jn -082018-62364\nsalarysgd8000 - sgd9000...,8000.0,9000.0,full_time
44,brand manager- retail,clarist resources pte ltd,established lifestyle fashion retailer invites...,-1.0,7000.0,full_time
45,business analyst,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,7000.0,full_time
46,network technical support,kelly services singapore,my client is a french company who is a leading...,-1.0,7000.0,contract
47,hiring for scrum master,aryan search pte ltd,we are hiring for one of the position of scrum...,7000.0,9000.0,contract
48,business analyst regulatory,aryan search pte ltd,we are hiring for one of the position of busin...,5000.0,7000.0,contract
49,corporate service finance manager,mci career services pte ltd,responsibilities: oversee a senior executive i...,5000.0,7000.0,full_time
50,sap mm,washington frank,responsibilities:\n\nmaintenance of sap applic...,-1.0,7000.0,full_time
51,it officer,good job creations (singapore) pte. ltd.,雇用形態 正社員\n\n業種 建築・設備 職種 it技術者\n\n給与 s$4000 ～ s...,4000.0,7000.0,full_time
52,group finance manager,global search partners,group (assistant)/ finance manager location: t...,6000.0,7000.0,full_time
53,software manager,jmc talent search pte ltd,manufacturing mnctuas / 5 dayssalary up to $70...,-1.0,7000.0,full_time
54,network engineer,kelly services singapore,my client is a french company who is a leading...,-1.0,7000.0,contract
55,web developer,kelly services singapore,my client is the global leader in customer rel...,-1.0,7000.0,contract
56,sales operations analyst,chandler macleod,6 months contract\nleading multimedia and inte...,6500.0,7600.0,contract
57,project delivery executive,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,8000.0,full_time
58,permanent data manager,success human resource centre pte ltd,permanent\nmon – fri : 8.30am-6.00pm\nang mo k...,-1.0,8000.0,full_time
59,senior business analystsenior business analyst,kelly services singapore,my client is a leader in aviation and high-int...,-1.0,8000.0,full_time
60,business intelligence specialist - logistics o...,hkm hr management pte. ltd,* an established logistics/ freight forwarding...,6000.0,8000.0,full_time
61,finance business partner,maersk,maersk line fleet management and technology is...,-1.0,8000.0,full_time
62,business analyst,fave,job type\nfull-time / permanent ( entry level ...,-1.0,2600.0,full_time
63,merchandising and revenue planner - singapore,fave group pte ltd,fave is southeast asia’s fastest-growing start...,-1.0,8000.0,full_time
64,merchandising and revenue planner - singapore,kfit,fave is southeast asia’s fastest-growing start...,-1.0,8000.0,full_time
65,analyst -,chandler macleod,global internet & multimedia mnc\n1 year contr...,8000.0,9000.0,contract
66,laravel backend engineer,aspire financial technologies,"**about aspire**\ntoday in southeast asia, 50%...",3000.0,8000.0,full_time
67,process analyst,kelly services singapore,my client is a us multinational conglomerate. ...,6000.0,8000.0,contract
68,product specialist,gmp recruit,well-established us manufacturing mnc.\nrespon...,-1.0,4000.0,full_time
69,project executive,kelly services singapore,our client is a biotechnology pioneer that dis...,5000.0,6500.0,contract
70,project manager,kelly services singapore,our client is a biotechnology pioneer that dis...,7500.0,9000.0,contract
71,lead development engineer,kelly services singapore,my client is a local bank which is the largest...,-1.0,9000.0,contract
72,solution architect,htz resources singapore (ea:14c7241),your rolethe solutions/integration architect's...,8000.0,12000.0,full_time

In [707]:
exclude

dict_keys([4, 9, 10, 16, 17, 26, 33, 43, 47, 48, 49, 53, 72, 0])

In [706]:
exclude=dict_min_year.keys()

In [665]:
for ind in range(len(df_indeed.job_description_all)):
    print(ind)
    #print(re.findall(r'[a-z]+? year', df_indeed.job_description_all[ind]))
    print(re.findall(r'[a-z]+?-year', df_indeed.job_description_all[ind]))
    #print(re.findall(r'[\d]? year', df_indeed.job_description_all[ind]))
    #print(re.findall(r'contract', df_indeed.job_description_all[ind]))
    #print(re.findall(r'[full][perm][intern]?', df_indeed.job_description_all[ind]))
    #print(re.findall(r'permanent', df_indeed.job_description_all[ind]))
    #print(re.findall(r'full time', df_indeed.job_description_all[ind]))
    #print(re.findall(r'intern', df_indeed.job_description_all[ind]))
    print(re.findall(r'[a-z]+? \d[-]?[\d+]? year', df_indeed.job_description_all[ind]))
    z=re.findall(r'[\d]+?[-]?[\d]+? year', df_indeed.job_description_all[ind])
    print(re.findall(r'[\d]+',str(z)))

0
['two-year']
[]
[]
1
[]
['minimum 1 year']
[]
2
[]
['minimum 1 year']
[]
3
[]
[]
[]
4
[]
['min 1-2 year']
['1', '2']
5
[]
[]
[]
6
[]
['least 5 year', 'least 5 year']
[]
7
[]
['with 2 year']
[]
8
[]
['least 2 year']
[]
9
[]
['least 1 year', 'minimum 1-2 year']
['1', '2']
10
[]
['with 2-3 year']
['2', '3']
11
[]
['to 5 year', 'to 5 year']
[]
12
[]
['minimum 3 year']
[]
13
[]
['minimum 1 year']
[]
14
[]
['minimum 5 year']
[]
15
[]
['minimum 2 year', 'than 5 year']
[]
16
[]
['with 3 year']
['2', '3']
17
[]
['with 2 year']
['2', '4']
18
[]
[]
[]
19
[]
['of 2 year']
[]
20
[]
[]
[]
21
[]
[]
[]
22
[]
[]
[]
23
[]
['minimum 5 year']
[]
24
[]
['institutionminimum 1 year', 'supportminimum 1 year']
[]
25
[]
[]
[]
26
[]
['of 2 year']
['2', '3']
27
[]
[]
[]
28
[]
['least 3 year']
[]
29
[]
['minimum 2+ year']
[]
30
[]
[]
[]
31
[]
['minimum 2 year']
[]
32
[]
['minimum 3 year']
[]
33
[]
['minimum 2-3 year']
['2', '3']
34
[]
[]
[]
35
[]
['least 3 year']
[]
36
[]
[]
[]
37
[]
[]
[]
38
[]
['least 5 year']
[]
39
[]
['minimum 3 year', 'of 1 year', 'minimum 1 year', 'minimum 3 year', 'of 1 year', 'minimum 1 year']
[]
40
[]
['of 2 year']
[]
41
[]
[]
[]
42
[]
['minimum 3 year']
[]
43
[]
['minimum 10 year']
['10']
44
[]
['least 6 year']
[]
45
[]
[]
[]
46
[]
[]
[]
47
[]
[]
['8', '10']
48
[]
[]
['5', '8']
49
[]
['least 3 year']
['10', '15']
50
[]
['least 4 year']
[]
51
[]
[]
[]
52
[]
[]
[]
53
[]
[]
['10']
54
[]
[]
[]
55
[]
[]
[]
56
[]
[]
[]
57
[]
['with 5+ year']
[]
58
[]
[]
[]
59
[]
['least 7 year']
[]
60
[]
['least 3 year']
[]
61
[]
['with 3+ year']
[]
62
[]
[]
[]
63
[]
[]
[]
64
[]
[]
[]
65
[]
['least 4 year', 'least 5 year']
[]
66
[]
[]
[]
67
[]
['minimum 2 year']
[]
68
[]
['minimum 5 year']
[]
69
[]
[]
[]
70
[]
[]
[]
71
[]
[]
[]
72
[]
['abilities 5-8 year']
['5', '8']

In [666]:
df_indeed.job_description_all[49]

'responsibilities: oversee a senior executive in the preparation and analysis of statutory financial statement other financial simulationsmonthly review of accounts and all financial data of the units, in order to identify key areas of improvement and deploy specific action planprepare periodic business reviewprioritize and target under performance units, working closely with operations managers on improvement strategies.provide financial performance metrics for the unitsdevelop benchmarking and comparison between unitsmonitor financial kpissupport financial excellence and follow-up of financial excellence actionpreparation of reports to analyze irregularities, deviation, and gapsdrive and manage the audit process and review/prepare the statutory accounts of the schooldrive prepare/review ad-hoc financial simulation to support management decision, e.g. simulation for the master programmes, funding renewal or any other contractsable to identify the cause-and-effect relationship between different aspects of the situationimprove on internal control, efficiency and effectiveness through process re-engineering or development/application of information systemsdesign/prepare visually appealing financial reports/presentation/dashboardimprove corporate governance through streamlining and standardization of work processesliaise with other functional managers to put the finances in contextdrive/present to the management committee or other stakeholders to gain support in financial initiatives or proposal to promote long-term financial sustainability of the schoolmaintain and facilitate co-operative working relationships across networks and campusesmake self fully available, especially in difficult service situationsdefine roles, sets priorities, focuses on objectives for the team and translates overall goals into tangible activities for individual and teamsable to see patterns, trends when looking at informationprovide task-oriented instruction to demonstrate to others to get the job doneany other ad-hoc duties as assigned from time to timeadditional information: possess a degree in accounting with professional qualification (chartered accountant) preferredpossess 10-15 years of relevant working experience, with at least 3 years of experience in the external/statutory audit field preferredworking experience or exposure to government linked organizations would be an advantagepossess strong proficiency in business partnering and financial controlpossess strong interpersonal skills with excellent written and verbal communication skillspossess the ability to multi-task and work effectively with staff, internal and external stakeholders at all levelshighly committed with good service-oriented attitudedemonstrate strong planning, problem-solving and critical thinking skillsdemonstrate good organizational capabilities with an eye for detailsability to work independently as well as part of a teamproficient in microsoft office applications (especially excel, word and powerpoint) and sappossess knowledge of singapore financial reporting standards (sfrs)applicants who possess relevant experience for the above responsibilities are most welcome to apply.if you do not possess the above experience, your application will still be considered on individual merits and you may be contacted for other opportunities.please submit your updated resume in ms format by using the apply nowbuttonour dedicated and approachable mci consultants will get back to you soon for a confidential discussion.please include the following information in your resume:education backgroundwork experiences in point formsreason (s) for leavingcurrent and expected salarydate of availability / notice period**we regret to inform that only shortlisted candidates would be notified. **we wish you all the best in your career searchchongset lin (freya)registration number: r1875744ea licence no: 06c2859(mci career services pte ltd)job types: full-time, permanentsalary: $5,000.00 to $7,000.00 /month'

In [740]:
df_indeed['min_year_exp']=dict_min_year.values()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [742]:
df_indeed['sal_mode']='MONTH'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [744]:
df_indeed['country_code']='SG'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [745]:
df_indeed['sal_currency_code']='SGD'

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [787]:
df_indeed['job_description']=""

In [780]:
df_indeed['comp_tagline']=""

In [781]:
df_indeed['comp_description']=''

In [790]:
df_indeed=df_indeed.rename(columns={'job_description_all':'job_description_all_indeed'})

In [762]:
df_indeed=df_indeed.rename(columns={'company':'comp_name'})

In [756]:
df_glints=df_glints.rename(columns={'title':'job_title','type':'job_type','sal_min':'job_min_salary','sal_max':'job_max_salary'})

In [791]:
df_indeed.head(1)

,job_title,comp_name,job_description_all_indeed,job_min_salary,job_max_salary,job_type,min_year_exp,sal_mode,country_code,sal_currency_code,comp_tagline,comp_description,job_description
0,credit control specialist,kelly services singapore,minimum diploma in any field\nminimum two-year...,-1.0,4000.0,contract,2.0,MONTH,SG,SGD,,,

In [789]:
len(df_indeed.columns)

13

In [785]:
len(df_glints.columns)

12

In [792]:
df_glints['job_description_all_indeed']=''

In [794]:
df_indeed_plus_glints=pd.concat([df_indeed,df_glints])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [412]:
'''
Some mannually change
138,139 delete
1) cisco nexus switching platform (7k, 9k, 5k, 2k) 2) cisco wireless controller, access points and prime infra 3) cisco ipt (presence, voice gateway, jabber, call manager, unity) 4) cisco router platform (7200, asr, isr, 2800, 2900) 5) campus lan environment (cisco 6500, 4900, 4500) and vss
requirements
must have worked in network support for a medium to large scale enterprise,at minimum: -
o 10+ years of support experience in data network (at least 3+ years in implementation)
o 4+ years of support experience in network security and voip
o 7+ years of support experience in bfsi sector
o 3+ years of support experience in noc, telecom, isp sector

//np.nan to drop

dict_sal[32]=[3800,4200]
dict_sal[55]=[3000,5000]
dict_sal[57]=[np.nan,np.nan]
dict_sal[59]=[np.nan,np.nan]
dict_sal[60]=[np.nan,np.nan]
dict_sal[61]=[5000,6500]
dict_sal[63]=[5000,6500]
dict_sal[90]=[5000,6000]
dict_sal[95]=[5000,6500]
dict_sal[100]=[np.nan,np.nan]
dict_sal[105]=[np.nan,np.nan]
dict_sal[106]=[8000,9000]
dict_sal[138]=[np.nan,np.nan]
dict_sal[139]=[np.nan,np.nan]
dict_sal[166]=[3000,8000]
dict_sal[167]=[np.nan,np.nan]
dict_sal[168]=[np.nan,np.nan]
dict_sal[172]=[np.nan,np.nan]
dict_sal[173]=[-1,4000]
dict_sal[189]=[5000,6500]
dict_sal[192]=[np.nan,np.nan]
dict_sal[193]=[np.nan,np.nan]
dict_sal[194]=[np.nan,np.nan]
dict_sal[195]=[np.nan,np.nan]
dict_sal[196]=[np.nan,np.nan]
dict_sal[197]=[np.nan,np.nan]
dict_sal[198]=[np.nan,np.nan]
dict_sal[199]=[np.nan,np.nan]
dict_sal[200]=[np.nan,np.nan]
dict_sal[204]=[np.nan,np.nan]
'''
dict_sal

{0: [-1, 4000],
 1: [-1, 4000],
 2: [-1, 4000],
 3: [4000, 6000],
 4: [2500, 4000],
 5: [2000, 4000],
 6: [4000, 6000],
 7: [-1, 4000],
 8: [3200, 4000],
 9: [4000, 5000],
 10: [3500, 4000],
 11: [4000, 4200],
 12: [2800, 4000],
 13: [3500, 4000],
 14: [-1, 4000],
 15: [-1, 4000],
 16: [-1, 4000],
 17: [-1, 4000],
 18: [4000, 6000],
 19: [2500, 4000],
 20: [2000, 4000],
 21: [4000, 6000],
 22: [-1, 4000],
 23: [3200, 4000],
 24: [4000, 5000],
 25: [3500, 4000],
 26: [4000, 4200],
 27: [2800, 4000],
 28: [3500, 4000],
 29: [-1, 4000],
 30: [-1, 4200],
 31: [4200, 4500],
 32: [3800, 4000, 4200],
 33: [-1, 4000],
 34: [-1, 4000],
 35: [-1, 4000],
 36: [4000, 6000],
 37: [-1, 4000],
 38: [-1, 4000],
 39: [-1, 4000],
 40: [4000, 6000],
 41: [2500, 4000],
 42: [2000, 4000],
 43: [4000, 6000],
 44: [-1, 4000],
 45: [3200, 4000],
 46: [4000, 5000],
 47: [3500, 4000],
 48: [4000, 4200],
 49: [2800, 4000],
 50: [3500, 4000],
 51: [-1, 4000],
 52: [-1, 5000],
 53: [-1, 5000],
 54: [-1, 5000],
 55: [2018, 3000, 5000],
 56: [5000, 5200],
 57: [2019, 5000, 10000],
 58: [-1, 5000],
 59: [2001, 5000],
 60: [-1, 5000],
 61: [-1, 5000],
 62: [-1, 5000],
 63: [5000, 6405, 6500],
 64: [-1, 5000],
 65: [-1, 5000],
 66: [-1, 4000],
 67: [-1, 4000],
 68: [-1, 4000],
 69: [-1, 5200],
 70: [-1, 4000],
 71: [-1, 4000],
 72: [-1, 5400],
 73: [-1, 4000],
 74: [-1, 4000],
 75: [5800, 6800],
 76: [-1, 4000],
 77: [-1, 4000],
 78: [-1, 4000],
 79: [2500, 4000],
 80: [2000, 4000],
 81: [4000, 6000],
 82: [-1, 4000],
 83: [3200, 4000],
 84: [4000, 5000],
 85: [3500, 4000],
 86: [4000, 4200],
 87: [2800, 4000],
 88: [3500, 4000],
 89: [-1, 4000],
 90: [5000, 6000, 7500],
 91: [-1, 6000],
 92: [-1, 6000],
 93: [3500, 7000],
 94: [6000, 8000],
 95: [5000, 6000, 6500],
 96: [5000, 6000],
 97: [4000, 6000],
 98: [-1, 6000],
 99: [3500, 6000],
 100: [2014, 2018, 6000],
 101: [6000, 8000],
 102: [-1, 6000],
 103: [-1, 4000],
 104: [4000, 6000],
 105: [6031, 6800, 9275],
 106: [2018, 6800, 8000, 9000, 9279],
 107: [-1, 4000],
 108: [-1, 4000],
 109: [-1, 4000],
 110: [4000, 6000],
 111: [2500, 4000],
 112: [2000, 4000],
 113: [4000, 6000],
 114: [-1, 4000],
 115: [3200, 4000],
 116: [4000, 5000],
 117: [3500, 4000],
 118: [4000, 4200],
 119: [2800, 4000],
 120: [3500, 4000],
 121: [-1, 4000],
 122: [-1, 7000],
 123: [-1, 7000],
 124: [-1, 7000],
 125: [7000, 9000],
 126: [7000, 7800],
 127: [-1, 7000],
 128: [5000, 7000],
 129: [5000, 7000],
 130: [-1, 7000],
 131: [4000, 7000],
 132: [6000, 7000],
 133: [-1, 7000],
 134: [-1, 7000],
 135: [-1, 7000],
 136: [-1, 4000],
 137: [-1, 4000],
 138: [1600, 1976, 2000, 2800, 2900, 3600, 4500, 4900, 5000, 6500, 7200],
 139: [2800, 2900, 4500, 4900, 6500, 7200],
 140: [-1, 4000],
 141: [6500, 7600],
 142: [-1, 4000],
 143: [-1, 4000],
 144: [-1, 4000],
 145: [-1, 4000],
 146: [4000, 6000],
 147: [2500, 4000],
 148: [2000, 4000],
 149: [-1, 4000],
 150: [3200, 4000],
 151: [4000, 5000],
 152: [3500, 4000],
 153: [4000, 4200],
 154: [2800, 4000],
 155: [3500, 4000],
 156: [-1, 4000],
 157: [-1, 8000],
 158: [-1, 8000],
 159: [-1, 8000],
 160: [6000, 8000],
 161: [-1, 8000],
 162: [-1, 2600],
 163: [-1, 8000],
 164: [-1, 8000],
 165: [8000, 9000],
 166: [2018, 3000, 8000],
 167: [6405, 8000, 11000],
 168: [-1, 8000],
 169: [6000, 8000],
 170: [-1, 4000],
 171: [-1, 4000],
 172: [-1, 8800],
 173: [3051, 8800, 13119],
 174: [-1, 4000],
 175: [-1, 4000],
 176: [-1, 4000],
 177: [4000, 6000],
 178: [2500, 4000],
 179: [2000, 4000],
 180: [4000, 6000],
 181: [-1, 4000],
 182: [3200, 4000],
 183: [4000, 5000],
 184: [3500, 4000],
 185: [4000, 4200],
 186: [2800, 4000],
 187: [3500, 4000],
 188: [-1, 4000],
 189: [5000, 6500, 9000],
 190: [7500, 9000],
 191: [7500, 9000],
 192: [-1, 9000],
 193: [-1, 9000],
 194: [2018, 9000],
 195: [9000, 9001, 14001],
 196: [9000, 9001, 14001],
 197: [-1, 9000],
 198: [-1, 9000],
 199: [-1, 9000],
 200: [-1, 9000],
 201: [-1, 9000],
 202: [7500, 9000],
 203: [-1, 4000],
 204: [-1, 10000],
 205: [-1, 4000],
 206: [8000, 12000]}

In [810]:
df_future.head(1)

,skills_future,comp_name,job_title,job_type,job_seniority,job_category,job_min_salary,job_max_salary,job_sal_mode,job_description_all_future
0,"['analytics', 'data analysis', 'analysis', 'st...",traveloka services pte. ltd.,data analytics lead,permanent,manager,information technology,"$8,300","$15,000",monthly,"['you will be responsible for defining, collec..."

In [798]:
df_future=df_future.rename(columns={'skills':'skills_future'})

In [801]:
df_future=df_future.rename(columns={'company_name':'comp_name'})

In [806]:
df_future=df_future.rename(columns={'job_sal_type':'job_sal_mode'})

In [807]:
df_future=df_future.rename(columns={'job_all':'job_description_all_future'})

In [811]:
df_future['job_description_all_indeed']=''

In [820]:
for col in [x for x in df_indeed_plus_glints.columns if x not in df_future.columns]:
    df_future[col]=''

In [819]:
len(df_future.columns)

11

In [803]:
df_indeed_plus_glints['job_category']=''

In [802]:
df_indeed_plus_glints['job_seniority']=''

In [816]:
df_indeed_plus_glints['job_description_all_future']=''

In [805]:
df_indeed_plus_glints=df_indeed_plus_glints.rename(columns={'sal_mode':'job_sal_mode'})

In [799]:
df_indeed_plus_glints=df_indeed_plus_glints.rename(columns={'skills':'skills_future'})

In [821]:
[x for x in df_indeed_plus_glints.columns if x not in df_future.columns]

[]

In [822]:
[y for y in df_future.columns if y not in df_indeed_plus_glints.columns]

[]

In [804]:
df_indeed_plus_glints.head(1)

,comp_description,comp_name,comp_tagline,country_code,job_description,job_description_all_indeed,job_max_salary,job_min_salary,job_title,job_type,min_year_exp,sal_currency_code,sal_mode,skills_future,job_seniority,job_category
0,,kelly services singapore,,SG,,minimum diploma in any field\nminimum two-year...,4000.0,-1.0,credit control specialist,contract,2.0,SGD,MONTH,,,

In [818]:
len(df_indeed_plus_glints.columns)

17

In [736]:
df_glints.head()

,title,type,min_year_exp,job_description,country_code,sal_mode,sal_min,sal_max,sal_currency_code,comp_name,comp_tagline,comp_description
0,Data Engineer,FULL_TIME,1,About You:The ideal candidate for The Data Eng...,ID,MONTH,12000000.0,15000000.0,IDR,Volantis Technology,We build supercluster of billions data to answ...,It is a casually run company that emphasize st...
1,Data Science Consultant,FULL_TIME,1,About you:You have a gift for taking unstructu...,ID,MONTH,5000000.0,12000000.0,IDR,Volantis Technology,We build supercluster of billions data to answ...,It is a casually run company that emphasize st...
3,Data Engineer,FULL_TIME,1,"Job Description:Assist to create fast, accurat...",ID,MONTH,12000000.0,31000000.0,IDR,Taralite,Financial Company,Taralite is a startup providing financial tech...
4,Data Scientist,FULL_TIME,1,Responsibilities:Work with stakeholders throug...,SG,MONTH,4000.0,6000.0,SGD,Qanvast Pte Ltd,Qanvast is a mobile app for home owners to cre...,Qanvast is the leading platform for home remod...
5,Data Engineer,FULL_TIME,0,About the roleYou will participate in the evol...,SG,YEAR,35000.0,45000.0,SGD,Kpler,Kpler is an intelligence company providing tra...,Who are we ?Kpler is an intelligence company p...

In [145]:
df_glints.country_demonym.value_counts()

Indonesian     74
Singaporean    70
Name: country_demonym, dtype: int64

In [823]:
pd.concat([df_indeed_plus_glints,df_future])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,comp_description,comp_name,comp_tagline,country_code,job_category,job_description,job_description_all_future,job_description_all_indeed,job_max_salary,job_min_salary,job_sal_mode,job_seniority,job_title,job_type,min_year_exp,sal_currency_code,skills_future
0,,kelly services singapore,,SG,,,,minimum diploma in any field\nminimum two-year...,4000,-1,MONTH,,credit control specialist,contract,2,SGD,
1,,kelly services singapore,,SG,,,,"working location at central, outside of cbd\n5...",4000,-1,MONTH,,junior supply planner,contract,1,SGD,
2,,kelly services singapore,,SG,,,,my client is a us multinational courier delive...,4000,-1,MONTH,,business analyst,contract,1,SGD,
3,,canopy pte ltd,,SG,,,,"company\ncanopy is a ""make sense of your data""...",6000,4000,MONTH,,advanced data analyst,full_time,NaN,SGD,
4,,job alpha associates,,SG,,,,industry: construction / mnclocation: marine ...,4000,2500,MONTH,,site engineer,full_time,1,SGD,
5,,bgc group pte ltd,,SG,,,,freelance surveyor (up to $4000/o-levels & up)...,4000,2000,MONTH,,freelance surveyor,contract,NaN,SGD,
6,,trakomatic pte. ltd.,,SG,,,,trakomatic is one of south east asia's fastest...,6000,4000,MONTH,,computer vision software engineer,full_time,5,SGD,
7,,chandler macleod,,SG,,,,"1 year contract\n$4000 monthly, great office f...",4000,-1,MONTH,,helpdesk data analyst,contract,2,SGD,
8,,mci career services pte ltd,,SG,,,,responsibilities: provide erp support and trou...,4000,3200,MONTH,,it support engineer,full_time,2,SGD,
9,,prosper employment agency(ea lic: 08c5590),,SG,,,,responsibilitiesdevelop programs to control ha...,5000,4000,MONTH,,programmer,full_time,1,SGD,
10,,ksc hr,,SG,,,,materials specialistjob description -assist in...,4000,3500,MONTH,,materials specialist,full_time,2,SGD,
11,,trakomatic pte. ltd.,,SG,,,,trakomatic is one of south east asia's fastest...,4000,2800,MONTH,,accounts executive,full_time,5,SGD,
12,,kelly services singapore,,SG,,,,my client is a us multinational conglomerate. ...,4000,3500,MONTH,,order management specialist,contract,3,SGD,
13,,kelly services singapore,,SG,,,,my client is an american multinational conglom...,4000,-1,MONTH,,material planner,contract,1,SGD,
14,,success human resource centre pte ltd,,SG,,,,up to $4200 nego depending on the years of exp...,4200,-1,MONTH,,perm senior executive,full_time,5,SGD,
15,,success human resource centre pte ltd,,SG,,,,engineer specialising in aix system (attractiv...,4500,4200,MONTH,,aix system engineer,full_time,5,SGD,
16,,hkm hr management pte ltd.,,SG,,,,mnc – epc for engineering project – material h...,4200,3800,MONTH,,project engineer,contract,2,SGD,
17,,kelly services singapore,,SG,,,,working location at amk\n2-4 years experience ...,5000,-1,MONTH,,medical sales representative,contract,2,SGD,
18,,kelly services singapore,,SG,,,,6 months contract\namk\n$5000*\nresponsibiliti...,5000,-1,MONTH,,marketing specialist,contract,NaN,SGD,
19,,kelly services singapore,,SG,,,,prior experience is required\n3 years experien...,5000,-1,MONTH,,planner - supply chain,contract,2,SGD,
20,,aspire financial technologies,,SG,,,,"**about aspire**\ntoday in southeast asia, 50%...",5000,3000,MONTH,,business intelligence,full_time,NaN,SGD,
21,,greensafe international pte ltd,,SG,,,,requirements\n\nmust be a registered workplace...,5200,5000,MONTH,,workplace safety & health officer,contract,NaN,SGD,
22,,booz allen hamilton,,SG,,,,the challenge:\nare you ready to use your cybe...,5000,-1,MONTH,,cybersecurity engineering consultant,full_time,NaN,SGD,
23,,personnel link jobhub pte. ltd.,,SG,,,,roles & responsibilities\nexperienced adobe ex...,6500,5000,MONTH,,senior solutions architect,full_time,5,SGD,
24,,ecnet limited,,SG,,,,job title: project engineersalary: $5000 + per...,5000,-1,MONTH,,project engineer,full_time,1,SGD,
25,,aryan search pte ltd,,SG,,,,we are looking for an etl tester role for a pe...,6500,5000,MONTH,,etl tester,full_time,NaN,SGD,
26,,kelly services singapore,,SG,,,,prior experience is required\n2-3 years experi...,5000,-1,MONTH,,supply chain planner,contract,2,SGD,
27,,kelly services singapore,,SG,,,,my client is a us multinational conglomerate. ...,5000,-1,MONTH,,creative writer,contract,NaN,SGD,
28,,chandler macleod,,SG,,,,"1 year contract\nglobal bank\n$5200 monthly, c...",5200,-1,MONTH,,apac investigator - banking industry,contract,3,SGD,
29,,kelly services singapore,,SG,,,,"my client is a privately held, family-owned co...",5400,-1,MONTH,,mould designer,full_time,2,SGD,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,,accountant-general's department,,,"accounting / auditing / taxation, public / civ...",,['you will lead a team to carry out compliance...,,NaN,NaN,NaN,NaN,head (assurance),full time,,,"['accounting', 'financial reporting', 'financi..."
349,,workforce singapore agency,,,public / civil service,,[None]['analyse labour market and ef related d...,,NaN,NaN,NaN,NaN,senior manager / manager (data analytics) [d...,full time,,,"['management', 'strategy', 'leadership', 'proj..."
350,,ministry of manpower,,,"marketing / public relations , public / civil ...",,"['manager/senior manager, research & planning ...",,NaN,NaN,NaN,manager,"manager / senior manager, research & planning ...",contract,,,"['research', 'market research', 'management', ..."
351,,maritime and port authority of singapore,,,public / civil service,,['you will be part of the safety inspectorate ...,,NaN,NaN,NaN,NaN,manager / senior manager (safety inspectorate),permanent,,,"['safety management systems', 'occupational he..."
352,,skillsfuture singapore agency,,,public / civil service,,"['\xa0', ""as a manager, intelligence & analyti...",,NaN,NaN,NaN,NaN,"manager, intelligence and analytics [private e...",full time,,,"['research', 'market research', 'management', ..."
353,,singapore land authority,,,"information technology, public / civil service",,"['senior executive, data management', '\njob s...",,"$5,600","$2,800",monthly,executive,"senior executive, data management",contract,,,"['data analysis', 'sql', 'microsoft excel', 'm..."
354,,republic polytechnic,,,"education and training, public / civil service",,[None]['supporting manpower planning initiativ...,,NaN,NaN,NaN,NaN,office of human resources - manager / assist...,full time,,,"['human resources', 'recruiting', 'employee re..."
355,,workforce singapore agency,,,public / civil service,,"['responsibilities', 'we are looking for a pri...",,NaN,NaN,NaN,NaN,"principal manager, digital product / project m...",full time,,,"['management', 'strategy', 'leadership', 'proj..."
356,,republic polytechnic,,,"education and training, public / civil service",,"['school of sports, health and leisure, whose ...",,NaN,NaN,NaN,NaN,"school of sports, health and leisure - assista...",full time,,,"['management', 'customer service', 'sales', 'm..."
357,,workforce singapore agency,,,public / civil service,,"['\xa0', 'responsibilities:', 'requirements:',...",,NaN,NaN,NaN,NaN,"manager, event operations [partners and operat...",full time,,,"['event management', 'event planning', 'market..."
358,,workforce singapore agency,,,public / civil service,,"['\xa0', 'responsibilities:', 'requirements:',...",,NaN,NaN,NaN,NaN,"manager, event operations [partners and operat...",full time,,,"['event management', 'event planning', 'market..."
359,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities:', '\xa0', 'requirement...",,NaN,NaN,NaN,NaN,school of management and communication - assis...,full time,,,"['management', 'negotiation', 'leadership', 'm..."
360,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities', 'requirements ', 'add...",,NaN,NaN,NaN,NaN,school of technology for the arts - assistant ...,full time,,,"['management', 'negotiation', 'customer servic..."
361,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities:', '\xa0', 'requirement...",,NaN,NaN,NaN,NaN,school of hospitality - assistant manager / ...,full time,,,"['management', 'negotiation', 'customer servic..."
362,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities:', '\xa0', 'requirement...",,NaN,NaN,NaN,NaN,school of infocomm - assistant manager / dep...,full time,,,"['management', 'negotiation', 'customer servic..."
363,,republic polytechnic,,,"education and training, public / civil service",,"['responsibilities', 'the associate lecturers ...",,NaN,NaN,NaN,NaN,school of infocomm - associate lecturer (busin...,full time,,,"['teaching', 'research', 'public speaking', 'h..."
364,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities:', 'requirements:', '\x...",,"$7,300","$4,200",monthly,NaN,school of engineering - assistant manager / ...,full time,,,"['management', 'project management', 'leadersh..."
365,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities:', 'requirements:', '\x...",,"$7,300","$4,200",monthly,NaN,school of applied science - assistant manager ...,full time,,,"['management', 'project management', 'leadersh..."
366,,workforce singapore agency,,,public / civil service,,"['\xa0', 'responsibilities:', 'requirements:',...",,NaN,NaN,NaN,NaN,"senior manager / manager, event operations [...",permanent,,,"['management', 'strategy', 'leadership', 'proj..."
367,,government technology agency,,,"information technology, public / civil service",,"['baf (data analytics)', ""we are looking for b...",,NaN,NaN,NaN,professional,business analyst (data analytics),full time,,,"['business analysis', 'project management', 'm..."
368,,health promotion board,,,"environment / health , public / civil service",,"['strategy and industry engagement lead, techn...",,NaN,NaN,NaN,middle management,"senior deputy director / deputy director, te...",full time,,,"['management', 'project planning', 'strategic ..."
369,,republic polytechnic,,,"education and training, public / civil service",,"[None]['accounting qualification', 'those with...",,"$5,300","$3,100",monthly,NaN,office of finance - senior executive / assis...,full time,,,"['sales', 'marketing', 'account management', '..."
370,,workforce singapore agency,,,public / civil service,,"['\xa0', 'responsibilities:', 'requirements', ...",,NaN,NaN,NaN,NaN,"principal manager / senior manager / manager, ...",full time,,,"['management', 'strategy', 'leadership', 'proj..."
371,,workforce singapore agency,,,public / civil service,,"['\xa0', 'responsibilities:', 'requirements', ...",,NaN,NaN,NaN,NaN,"senior / manager, partners acquisition [part...",full time,,,"['management', 'strategy', 'leadership', 'proj..."
372,,republic polytechnic,,,"education and training, public / civil service",,['job responsibilities\n we are looking for a ...,,"$5,300","$3,100",monthly,NaN,school of infocomm - research staff (data anal...,contract,,,"['statistics', 'operations research', 'data an..."
373,,republic polytechnic,,,"education and training, public / civil service",,['responsibilities'][None][][],,NaN,NaN,NaN,NaN,school of infocomm - research staff (text anal...,contract,,,"['matlab', 'algorithms', 'c++', 'machine learn..."
374,,republic polytechnic,,,"education and training, public / civil service",,"['job responsibilities', 'facilitate student l...",,"$6,300","$3,700",monthly,NaN,school of management and communication - lectu...,full time,,,"['research', 'teaching', 'lecturing', 'higher ..."
375,,republic polytechnic,,,"education and training, public / civil service",,['job responsibilities\n• facilitate student l...,,NaN,NaN,NaN,NaN,school of engineering - lecturer (common engin...,full time,,,"['research', 'teaching', 'lecturing', 'higher ..."
376,,republic polytechnic,,,"education and training, public / civil service",,['job responsibilities\n the successful job ap...,,NaN,NaN,NaN,NaN,office of student and graduate affairs - admin...,full time,,,"['management', 'business development', 'strate..."
377,,republic polytechnic,,,"education and training, public / civil service",,['job responsibilities\n• facilitate student l...,,"$6,300","$3,700",monthly,NaN,school of engineering - lecturer (engineering ...,full time,,,"['research', 'teaching', 'lecturing', 'higher ..."

In [ ]:
'''
Combine:
Indeed, Glint, mycareerfuture data 
'''

In [824]:
df_combine=pd.concat([df_indeed_plus_glints,df_future])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [826]:
#df_combine.to_csv('job_all_three_web.csv')